<div class="mx-auto w-[1128px] py-6">
  <div class="mb-4 flex justify-end">
    <div class="inline-block space-x-4">
      <button
        class="bg-muted text-muted-foreground hover:text-foreground rounded-md px-4 py-2.5 text-xs font-semibold"
        (click)="backPage()">
        Back
      </button>
    </div>
  </div>
  <div class="border-muted/20 flex min-w-full flex-col rounded-xl border bg-white p-2">
    <div class="flex justify-center p-2">
      <label class="text-xl font-semibold">
        <span *ngIf="mode == 'update'"> Sửa Tenant </span>
        <span *ngIf="mode == 'create'"> Thêm Tenant </span>
      </label>
    </div>
    <div class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border px-6 py-2">
      <form [formGroup]="mainForm" nz-form *ngIf="mainForm" (ngSubmit)="onSubmit()">
        <div class="flex gap-4">
          <div class="flex h-full w-4/12 flex-col">
            <nz-form-label [nzNoColon]="true" nzFor="logo" class="!flex !items-center !justify-start !font-medium"
              >Logo</nz-form-label
            >
            <div class="flex h-full w-full flex-col items-center justify-center gap-2">
              <div
                class="flex h-28 w-32 items-center justify-center overflow-hidden rounded-sm border border-dashed border-blue-500">
                <img alt="tenant logo" [src]="tenantImage || defaultImage" [class]="'w-full cursor-pointer'" />
              </div>
              <button
                class="!min-w-24 !flex !h-max !justify-center !rounded-lg !py-2 !px-3 hover:!border-red-500 hover:!bg-red-200 hover:!text-red-500"
                nz-button
                type="button"
                nzType="default">
                <span>Chụp ảnh</span>
              </button>
            </div>
          </div>
          <div class="flex w-8/12 flex-wrap">
            <div class="flex w-full justify-between gap-4 p-2" *ngIf="tenant">
              <div class="flex flex-col">
                <nz-form-item class="!mb-0 !flex !flex-col">
                  <nz-form-label
                    [nzNoColon]="true"
                    nzFor="tenantCode"
                    class="!flex !items-center !justify-start !font-medium"
                    >Mã Tenant</nz-form-label
                  >
                  <div># {{ tenant.code }}</div>
                </nz-form-item>
              </div>
              @if(mode == 'update') {
              <div class="flex flex-col">
                <nz-form-item class="!mb-0 !flex !flex-col">
                  <nz-form-label
                    [nzNoColon]="true"
                    nzFor="status"
                    class="!flex !items-center !justify-start !font-medium"
                    >Tình Trạng Tenant</nz-form-label
                  >
                  <nz-form-control class="!flex !max-h-[42px] flex-col">
                    <nz-select
                      class="custom-nz-select height-large !mt-0 !mb-0 !w-full tenant-status-{{
                        mainForm.get('status')?.value
                      }}"
                      formControlName="status">
                      @for (tenantStatus of tenantStatuses; track tenantStatus) {
                      <nz-option [nzLabel]="tenantStatus.label" [nzValue]="tenantStatus.value"></nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              }
            </div>
            <div
              class="mt-4 w-full rounded-lg border border-dashed border-gray-300"
              [ngClass]="{
                'border-red-500': mainForm.controls['phoneNumber'].errors?.['required'] 
                || mainForm.controls['phoneNumber'].errors?.['pattern'] 
                || mainForm.controls['name'].errors?.['required']
              }">
              <nz-collapse nzGhost [nzExpandIconPosition]="'end'">
                <nz-collapse-panel [nzHeader]="collapseHeaderTenantInfo" [nzActive]="true">
                  <div class="flex flex-col gap-2">
                    <div class="flex w-full gap-4">
                      <div class="block w-6/12">
                        <nz-form-item class="!mb-0 !flex !flex-col">
                          <nz-form-label
                            [nzNoColon]="true"
                            nzFor="phoneNumber"
                            class="!flex !items-center !justify-start !font-medium"
                            >Số điện thoại</nz-form-label
                          >
                          <nz-form-control [nzErrorTip]="tenantFormPhoneNumberErrorTpl" class="!flex flex-col">
                            <nz-input-group [nzSuffix]="tenantFormPhoneNumberClearTpl" class="custom-nz-input-group">
                              <input
                                type="text"
                                nz-input
                                formControlName="phoneNumber"
                                mask="0000 000 000"
                                placeholder="Nhập số điện thoại" />
                            </nz-input-group>
                            <ng-template #tenantFormPhoneNumberClearTpl>
                              <span
                                *ngIf="mainForm.controls['phoneNumber'].value"
                                nz-icon
                                class="ant-input-clear-icon"
                                nzTheme="fill"
                                nzType="close-circle"
                                (click)="clearFormValue('phoneNumber')"></span>
                            </ng-template>
                            <ng-template #tenantFormPhoneNumberErrorTpl let-control>
                              <span class="mt-1 !text-xs text-red-500">
                                @if (mainForm.controls['phoneNumber'].errors?.['required']) { Vui lòng nhập số điện
                                thoại } @if(mainForm.controls['phoneNumber'].errors?.['pattern']) { Vui lòng nhập đúng
                                số điện thoại }
                              </span>
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                      <div class="block w-6/12">
                        <nz-form-item class="!mb-0 !flex !flex-col">
                          <nz-form-label
                            [nzNoColon]="true"
                            nzFor="name"
                            class="!flex !items-center !justify-start !font-medium"
                            >Tên Tenant</nz-form-label
                          >
                          <nz-form-control [nzErrorTip]="tenantFormNameErrorTpl" class="!flex flex-col">
                            <nz-input-group [nzSuffix]="tenantFormNameClearTpl" class="custom-nz-input-group">
                              <input type="text" nz-input formControlName="name" placeholder="Nhập tên khách hàng" />
                            </nz-input-group>
                            <ng-template #tenantFormNameClearTpl>
                              <span
                                *ngIf="mainForm.controls['name'].value"
                                nz-icon
                                class="ant-input-clear-icon"
                                nzTheme="fill"
                                nzType="close-circle"
                                (click)="clearFormValue('name')"></span>
                            </ng-template>
                            <ng-template #tenantFormNameErrorTpl let-control>
                              <span class="mt-1 !text-xs text-red-500">
                                @if (mainForm.controls['name'].errors?.['required']) { Vui lòng nhập trường này }
                              </span>
                            </ng-template>
                          </nz-form-control>
                        </nz-form-item>
                      </div>
                    </div>
                    <div class="flex w-full gap-4">
                      <div class="block w-full">
                        <nz-form-label
                          [nzNoColon]="true"
                          nzFor="customerAddress"
                          class="!flex !items-center !justify-start !font-medium"
                          >Địa chỉ Tenant</nz-form-label
                        >
                        <nz-input-group [nzSuffix]="tenantFormAddressClearTpl" class="custom-nz-textarea-group">
                          <textarea nz-input formControlName="address" placeholder="Nhập địa chỉ khách hàng"></textarea>
                        </nz-input-group>
                        <ng-template #tenantFormAddressClearTpl>
                          <span
                            *ngIf="mainForm.controls['address'].value"
                            nz-icon
                            class="ant-input-clear-icon"
                            nzTheme="fill"
                            nzType="close-circle"
                            (click)="clearFormValue('address')"></span>
                        </ng-template>
                      </div>
                    </div>
                  </div>
                </nz-collapse-panel>
                <ng-template #collapseHeaderTenantInfo>
                  <label
                    class="text-base font-semibold text-blue-500"
                    [ngClass]="{
                'border-red-500': mainForm.controls['phoneNumber'].errors?.['required'] 
                || mainForm.controls['phoneNumber'].errors?.['pattern'] 
                || mainForm.controls['name'].errors?.['required']
              }"
                    >Thông tin khách hàng</label
                  >
                </ng-template>
              </nz-collapse>
            </div>
          </div>
        </div>

        <div class="mt-4 w-full rounded-lg border border-dashed border-gray-300">
          <nz-collapse nzGhost [nzExpandIconPosition]="'end'">
            <nz-collapse-panel [nzHeader]="collapseHeaderTenantSubscription" [nzActive]="true">
              <!-- <div class="flex w-full gap-4">
                <nz-form-item class="!mb-0 !flex !w-full !justify-between">
                  <nz-form-label
                    [nzNoColon]="true"
                    nzFor="subscriptionId"
                    class="!flex !items-center !justify-start !font-medium"
                    >Gói thuê bao</nz-form-label
                  >
                  <nz-form-control class="!flex !max-h-[42px] flex-col">
                    <nz-select
                      class="custom-nz-select height-large !mt-0 !mb-0 !w-full"
                      formControlName="subscriptionId">
                      @for (sub of subscriptions; track sub) {
                      <nz-option [nzLabel]="sub.name" [nzValue]="sub._id"></nz-option>
                      }
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div> -->
              <div class="flex justify-end">
                <button
                  class="!min-w-24 !bg-blue-500 !flex !h-max !justify-center !rounded-lg !py-2 !px-3 !text-white hover:!border-blue-500 hover:!bg-blue-200 hover:!text-blue-500"
                  nz-button
                  nzType="default"
                  type="button"
                  (click)="addNewSubscription()">
                  <span>Thêm thuê bao</span>
                </button>
              </div>
              @if(tenant && tenant._id) {
              <div class="flex w-full gap-4">
                <app-tenant-subscription-list 
                  #tenantSubscriptionList 
                  class="w-full" 
                  [tenantId]="tenant._id">
                </app-tenant-subscription-list>
              </div>
              }
            </nz-collapse-panel>
            <ng-template #collapseHeaderTenantSubscription>
              <label class="text-base font-semibold text-blue-500">Thông tin thuê bao</label>
            </ng-template>
          </nz-collapse>
        </div>

        <div class="my-5 flex w-full justify-end">
          <button
            class="!min-w-24 !bg-primary !flex !h-max !justify-center !rounded-lg !py-2 !px-3 !text-white hover:!border-red-500 hover:!bg-red-200 hover:!text-red-500"
            nz-button
            nzType="default"
            type="submit">
            SAVE
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
