<div class="mb-4 flex justify-end">
  <div class="inline-block space-x-4">
    <button
      class="!min-w-24 !text-foreground hover:!text-foreground !flex !h-max !justify-center !rounded-lg border border-gray-300 !bg-gray-200 !py-2 !px-3 hover:!border-gray-300 hover:!bg-gray-300"
      nz-button
      (click)="backPage()">
      Back
    </button>
  </div>
</div>

<div class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border p-6">
  <span class="mb-5 text-xl font-bold">{{
    defaultFlagService.isDefault(busRoute) ? 'Chi Tiết' : busRoute ? 'Chỉnh sửa' : 'Thêm mới'
  }}</span>

  <form [formGroup]="busRouteDetailForm" nz-form *ngIf="busRouteDetailForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-4">
      <div class="flex gap-4">
        <div class="flex w-6/12">
          <nz-form-item class="!w-full">
            <nz-form-label
              nzFor="name"
              [nzNoColon]="true"
              [nzRequired]="true"
              class="!flex !items-center !justify-start"
              >Name</nz-form-label
            >
            <nz-form-control [nzErrorTip]="busRouteDetailNameErrorTpl" class="!flex !h-[56px] flex-col">
              <nz-input-group [nzSuffix]="busRouteDetailNameClearTpl" class="custom-nz-input-group !mt-0 !mb-0">
                <input type="text" nz-input formControlName="name" placeholder="Nhập Name" />
              </nz-input-group>
              <ng-template #busRouteDetailNameClearTpl>
                @if(f['name'].value && !defaultFlagService.isDefault(busRoute)) {
                <span
                  nz-icon
                  class="ant-input-clear-icon"
                  nzTheme="fill"
                  nzType="close-circle"
                  (click)="clearFormValue('name')"></span>
                }
              </ng-template>
              <ng-template #busRouteDetailNameErrorTpl let-control>
                <span class="mt-1 !text-xs text-red-500">
                  @if (busRouteDetailForm.controls['name'].errors?.['required']) { Vui lòng nhập trường này }
                </span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="flex w-6/12">
          <nz-form-item class="!w-full">
            <nz-form-label
              nzFor="distance"
              [nzNoColon]="true"
              [nzRequired]="true"
              class="!flex !items-center !justify-start"
              >Distance</nz-form-label
            >
            <nz-form-control [nzErrorTip]="busRouteDetailDistanceErrorTpl" class="!flex !h-[56px] flex-col">
              <nz-input-group [nzSuffix]="busRouteDetailDistanceClearTpl" class="custom-nz-input-group !mt-0 !mb-0">
                <input type="number" nz-input formControlName="distance" placeholder="Nhập Distance" />
              </nz-input-group>
              <ng-template #busRouteDetailDistanceClearTpl>
                @if(f['distance'].value && !defaultFlagService.isDefault(busRoute)) {
                <span
                  nz-icon
                  class="ant-input-clear-icon"
                  nzTheme="fill"
                  nzType="close-circle"
                  (click)="clearFormValue('distance')"></span>
                }
              </ng-template>
              <ng-template #busRouteDetailDistanceErrorTpl let-control>
                <span class="mt-1 !text-xs text-red-500">
                  @if (busRouteDetailForm.controls['distance'].errors?.['required']) { Vui lòng nhập trường này }
                </span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="flex gap-4">
        <div class="flex w-6/12">
          <nz-form-item class="!w-full">
            <nz-form-label
              nzFor="distanceTime"
              [nzNoColon]="true"
              [nzRequired]="true"
              class="!flex !items-center !justify-start"
              >DistanceTime</nz-form-label
            >
            <nz-form-control [nzErrorTip]="busRouteDetailDistanceTimeErrorTpl" class="!flex !h-[56px] flex-col">
              <nz-input-group [nzSuffix]="busRouteDetailDistanceTimeClearTpl" class="custom-nz-input-group !mt-0 !mb-0">
                <input type="text" nz-input formControlName="distanceTime" placeholder="Nhập Distance" />
              </nz-input-group>
              <ng-template #busRouteDetailDistanceTimeClearTpl>
                @if(f['distanceTime'].value && !defaultFlagService.isDefault(busRoute)) {
                <span
                  nz-icon
                  class="ant-input-clear-icon"
                  nzTheme="fill"
                  nzType="close-circle"
                  (click)="clearFormValue('distanceTime')"></span>
                }
              </ng-template>
              <ng-template #busRouteDetailDistanceTimeErrorTpl let-control>
                <span class="mt-1 !text-xs text-red-500">
                  @if (busRouteDetailForm.controls['distanceTime'].errors?.['required']) { Vui lòng nhập trường này }
                </span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="flex w-6/12 flex-col">
          <div>
            <nz-form-label
              nzFor="distanceTime"
              [nzNoColon]="true"
              [nzRequired]="true"
              class="!flex !items-center !justify-start font-medium"
              >Break Points</nz-form-label
            >
          </div>
          <div
            formArrayName="breakPoints"
            cdkDropList
            (cdkDropListDropped)="drop($event)"
            [cdkDropListDisabled]="defaultFlagService.isDefault(busRoute)"
            class="drag-drop-list flex w-full flex-col gap-2">
            <div
              cdkDrag
              *ngFor="let breakPoint of breakPoints.controls; let i = index"
              [formGroupName]="i"
              class="flex w-full items-center gap-2">
              <nz-select
                class="flex-1"
                nzShowSearch
                nzAllowClear
                formControlName="busStationId"
                nzPlaceHolder="Chọn Bus Station"
                [nzCustomTemplate]="selectTemplate">
                @for (busProvince of filteredProvinces; track busProvince) {
                <nz-option-group nzLabel="{{ busProvince.name }}">
                  @for (busStation of busProvince.busStations; track busStation) {
                  <nz-option
                    nzCustomContent
                    [nzLabel]="busStation.name + ' ' + defaultFlagService.defaultTextFlag(busStation)"
                    [nzValue]="busStation._id">
                    <div class="flex items-center">
                      <span class="pl-4 !font-medium">
                        {{ busStation.name }}
                        <svg-icon
                          *ngIf="busStation.isOffice"
                          src="assets/icons/heroicons/outline/home-modern.svg"
                          [svgClass]="'inline h-4 w-4 ml-1 text-blue-500 ml-2'"
                          title="Office"></svg-icon>
                        {{ defaultFlagService.defaultTextFlag(busStation) }}
                      </span>
                    </div>
                  </nz-option>
                  }
                </nz-option-group>
                }
              </nz-select>
              <ng-template #selectTemplate let-selected>
                <div class="contents">
                  <span>{{ selected.nzLabel }}</span>
                  <svg-icon
                    *ngIf="getSelectedBusStation(selected.nzValue)?.isOffice"
                    src="assets/icons/heroicons/outline/home-modern.svg"
                    [svgClass]="'inline h-4 w-4 text-blue-500 ml-2'"
                    title="Office"></svg-icon>
                </div>
              </ng-template>
              @if(!defaultFlagService.isDefault(busRoute) && breakPoints.controls.length > 2) {
              <svg-icon
                src="assets/icons/trash-red-outline.svg"
                [svgClass]="'h-5 w-5 cursor-pointer flex-shrink-0'"
                (click)="removeBreakPoint(i)">
              </svg-icon>
              }
            </div>
          </div>
          @if(!defaultFlagService.isDefault(busRoute)) {
          <div class="mt-4 flex justify-end gap-4">
            <button
              class="!min-w-24 !flex !h-max !justify-center !rounded-lg !py-2 !px-3 hover:!border-red-500 hover:!bg-red-200 hover:!text-red-500"
              nz-button
              type="button"
              nzType="default"
              (click)="addBreakPoint()">
              <svg-icon src="assets/icons/add-square.svg" [svgClass]="'h-5 w-5 mr-2'"> </svg-icon>
              Add Break Point
            </button>
          </div>
          <div *ngIf="breakPoints.touched && checkBreakPointsErrors()" class="animate-fade-down">
            <span class="pt-1 text-xs text-red-500">Vui lòng chọn ít nhất 2 bus station.</span>
          </div>
          <div *ngIf="breakPoints.touched && checkBreakPointsDuplicateErrors()" class="animate-fade-down">
            <span class="pt-1 text-xs text-red-500">Không được chọn 2 bus station giống nhau.</span>
          </div>
          }
        </div>
      </div>
      @if(!defaultFlagService.isDefault(busRoute)) {
      <div class="my-5 flex w-full justify-end">
        <button
          class="!min-w-24 !bg-primary !flex !h-max !justify-center !rounded-lg !py-2 !px-3 !text-white hover:!border-red-500 hover:!bg-red-200 hover:!text-red-500"
          nz-button
          nzType="default"
          type="submit">
          SAVE
        </button>
      </div>
      }
    </div>
  </form>
</div>
