// custome css nz select
.ant-select-selector {
    border-radius: 5px !important;
    background-color: white !important;
    border: 0 !important;
}

.ant-select-selection-search-input::placeholde {
    color: black;
}

a {
    color: inherit !important;
}