:host ::ng-deep {
  nz-select.paymentMethod-status-active .ant-select-selector {
    background-color: var(--color-green-200) !important;
    color: var(--color-green-800) !important;
    border: 1px solid var(--color-green-500) !important;
  }
  nz-select.paymentMethod-status-inactive .ant-select-selector {
    background-color: var(--color-indigo-200) !important;
    color: var(--color-indigo-800) !important;
    border: 1px solid var(--color-indigo-500) !important;
  }

  nz-select.paymentMethod-status-suspended .ant-select-selector {
    background-color: var(--color-red-200) !important;
    color: var(--color-red-800) !important;
    border: 1px solid var(--color-red-500) !important;
  }
  nz-select.paymentMethod-status-expired .ant-select-selector {
    background-color: var(--color-gray-200) !important;
    color: var(--color-gray-800) !important;
    border: 1px solid var(--color-gray-500) !important;
  }
}
