<div class="mb-4 flex items-center justify-between">
  <h1 class="text-2xl font-bold">Cài đặt giao diện</h1>
  <div class="inline-block space-x-4">
    <button
      class="!min-w-24 !text-foreground hover:!text-foreground !flex !h-max !justify-center !rounded-lg border border-gray-300 !bg-gray-200 !px-3 !py-2 hover:!border-gray-300 hover:!bg-gray-300"
      nz-button
      (click)="resetToDefault()">
      Reset Default
    </button>
  </div>
</div>

<div class="border-muted/20 flex min-w-full flex-col rounded-xl border bg-white p-2">
  <div class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border p-6">
    <form [formGroup]="mainForm" nz-form *ngIf="mainForm" (ngSubmit)="onSubmit()">
      <div class="flex gap-6">
        <!-- Logo Section -->
        <div class="flex h-full w-3/12 flex-col">
          <div class="flex flex-col gap-2">
            <nz-form-label [nzNoColon]="true" nzFor="logo" class="!flex !items-center !justify-start !font-medium"
              >Logo</nz-form-label
            >
            <ng-container *ngIf="!logoImage; else logoPresent">
              <div class="flex flex-col items-center">
                <div
                  nz-popover
                  [nzPopoverContent]="contentLogoTemplate"
                  class="relative h-32 w-32 cursor-pointer select-none rounded border border-dashed border-gray-500">
                  <div class="mx-auto-8 left-0 m-auto flex h-full w-full flex-wrap content-center items-center px-4">
                    <div class="flex w-full flex-wrap justify-center pb-5 text-center">
                      <svg-icon svgClass="w-8 h-8" src="assets/icons/upload.svg"></svg-icon>
                      <p class="w-full pt-1 text-sm">Upload Logo</p>
                    </div>
                  </div>
                </div>
                <ng-template #contentLogoTemplate>
                  <div class="grap-2 grid w-96 cursor-pointer grid-cols-2">
                    <div class="relative flex h-12 cursor-pointer flex-wrap items-center justify-center px-2">
                      <input
                        formControlName="logoId"
                        type="file"
                        accept="image/*,.png,.jpg,.jpeg,.webp,.gif"
                        class="pointer-events-auto z-50 block h-full w-full cursor-pointer opacity-0"
                        (change)="onFileChange($event)" />
                      <div
                        class="pointer-events-none absolute top-0 right-0 left-0 m-auto flex h-full w-full cursor-pointer flex-wrap content-center items-center justify-center">
                        <svg-icon svgClass="w-7 h-7" src="assets/icons/upload.svg"></svg-icon>
                        <p class="w-full pt-1 text-center text-xs">Tập tin cục bộ</p>
                      </div>
                    </div>
                    <div
                      class="flex h-12 cursor-pointer flex-wrap items-center justify-center px-2"
                      (click)="openFilesCenterDialog()">
                      <svg-icon svgClass="w-7 h-7" src="assets/icons/media.svg"></svg-icon>
                      <p class="w-full pt-1 text-center text-xs">Trung tâm phương tiện</p>
                    </div>
                  </div>
                </ng-template>
              </div>
            </ng-container>
            <ng-template #logoPresent>
              <div class="flex w-full justify-center">
                <div class="relative h-32 w-32 select-none rounded border border-gray-200">
                  <div class="flex h-full w-full cursor-pointer items-center justify-center p-2">
                    <nz-skeleton-element nzType="image" *ngIf="!isLoaded" [nzActive]="true"> </nz-skeleton-element>
                    <img *ngIf="isLoaded" class="max-h-full max-w-full object-contain" [src]="logoImage" alt="Logo" />
                    <div
                      class="action-preview-img absolute top-0 right-0 flex h-full w-full items-center justify-center opacity-0">
                      <button type="button" (click)="removeFileImage()">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="size-4 text-white">
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </div>
        </div>

        <!-- Form Fields Section -->
        <div class="flex h-full w-9/12 flex-col gap-4">
          <!-- Tenant Name -->
          <div class="flex w-full flex-col">
            <nz-form-item class="!mb-0 !flex !flex-col">
              <nz-form-label
                [nzNoColon]="true"
                [nzRequired]="true"
                nzFor="tenantName"
                class="!flex !items-center !justify-start !font-medium"
                >Tên doanh nghiệp</nz-form-label
              >
              <nz-form-control [nzErrorTip]="tenantNameErrorTpl" class="!flex flex-col">
                <nz-skeleton [nzLoading]="!isLoaded" [nzParagraph]="false" [nzActive]="true">
                  <nz-input-group [nzSuffix]="tenantNameClearTpl" class="custom-nz-input-group">
                    <input type="text" nz-input formControlName="tenantName" placeholder="Nhập tên doanh nghiệp" />
                  </nz-input-group>
                </nz-skeleton>
                <ng-template #tenantNameClearTpl>
                  <span
                    *ngIf="mainForm.controls['tenantName'].value"
                    nz-icon
                    class="ant-input-clear-icon"
                    nzTheme="fill"
                    nzType="close-circle"
                    (click)="clearFormValue('tenantName')"></span>
                </ng-template>
                <ng-template #tenantNameErrorTpl let-control>
                  <span class="mt-1 !text-xs text-red-500">
                    @if (mainForm.controls['tenantName'].errors?.['required']) { Vui lòng nhập tên doanh nghiệp } @else if (mainForm.controls['tenantName'].errors?.['minlength']) { Tên phải có ít nhất 2 ký tự }
                  </span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>

          <!-- Color Settings -->
          <div class="flex w-full gap-4">
            <!-- Primary Color -->
            <div class="flex w-full flex-col">
              <nz-form-item class="!mb-0 !flex !flex-col">
                <nz-form-label
                  [nzNoColon]="true"
                  nzFor="primaryColor"
                  class="!flex !items-center !justify-start !font-medium"
                  >Màu chính</nz-form-label
                >
                <nz-form-control class="!flex flex-col">
                  <nz-skeleton [nzLoading]="!isLoaded" [nzParagraph]="false" [nzActive]="true">
                    <div class="flex items-center gap-3">
                      <nz-color-picker formControlName="primaryColor" nzShowText></nz-color-picker>
                    </div>
                  </nz-skeleton>
                </nz-form-control>
              </nz-form-item>
            </div>

            <!-- Secondary Color -->
            <div class="flex w-full flex-col">
              <nz-form-item class="!mb-0 !flex !flex-col">
                <nz-form-label
                  [nzNoColon]="true"
                  nzFor="secondaryColor"
                  class="!flex !items-center !justify-start !font-medium"
                  >Màu phụ</nz-form-label
                >
                <nz-form-control class="!flex flex-col">
                  <nz-skeleton [nzLoading]="!isLoaded" [nzParagraph]="false" [nzActive]="true">
                    <div class="flex items-center gap-3">
                      <nz-color-picker formControlName="secondaryColor" nzShowText></nz-color-picker>
                    </div>
                  </nz-skeleton>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <!-- Action Buttons -->
          <div class="my-5 flex w-full justify-end gap-3">
            <button
              class="!bg-primary !min-w-24 !flex !h-max !justify-center !rounded-lg !px-3 !py-2 !text-white hover:!border-green-500 hover:!bg-green-500"
              nz-button
              type="submit">
              SAVE
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
