<ng-container>
  <th class="w-[50px]">
    <input (change)="toggle($event)" class="checkbox checkbox-sm" data-datatable-check="true" type="checkbox" />
  </th>
  <th class="min-w-[300px]">{{ 'table.headers.member' | translate }}</th>
  <th class="min-w-[180px]">{{ 'table.headers.username' | translate }}</th>
  <th class="min-w-[180px]">{{ 'table.headers.hobbies' | translate }}</th>
  <th class="min-w-[180px]">{{ 'table.headers.occupation' | translate }}</th>
  <th class="min-w-[150px]">{{ 'table.headers.phone' | translate }}</th>
  <th class="w-[60px]"></th>
</ng-container>
