<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="flex w-full flex-col gap-4">
    <div class="relative">
      <nz-form-item class="!flex !w-full !flex-col">
        <nz-form-label nzFor="oldPassword" class="!flex !items-start !justify-start !p-0 !text-sm"
          >Old Password</nz-form-label
        >
        <nz-form-control [nzErrorTip]="oldPasswordErrorTpl" class="!contents">
          <nz-input-group [nzSuffix]="suffixTemplateOldPassword" class="!mt-0 !mb-0 !h-[36px] !rounded border-gray-200">
            <input
              [type]="oldPasswordVisible ? 'text' : 'password'"
              nz-input
              placeholder="Nhập mật khẩu cũ"
              formControlName="oldPassword" />
          </nz-input-group>
          <ng-template #suffixTemplateOldPassword>
            <div class="flex items-center gap-2">
              @if(f['oldPassword'].value){
              <span
                nz-icon
                class="ant-input-clear-icon"
                nzTheme="fill"
                nzType="close-circle"
                (click)="f['oldPassword'].patchValue('')"></span>
              }
              <svg-icon
                src="assets/icons/heroicons/outline/{{ oldPasswordVisible ? 'eye-off' : 'eye' }}.svg"
                (click)="oldPasswordVisible = !oldPasswordVisible"
                [svgClass]="'h-5 w-5 cursor-pointer'">
              </svg-icon>
            </div>
          </ng-template>
          <ng-template #oldPasswordErrorTpl let-control>
            <span class="mt-1 !text-xs text-red-500">
              @if (f['oldPassword'].errors?.['required'] && f['oldPassword'].touched) { Vui lòng nhập mật khẩu cũ. }
            </span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="flex w-full flex-col">
      <nz-form-item class="!min-h-[108px] !w-full">
        <nz-form-label nzFor="password" class="!flex !h-[48px] !items-start !justify-start !text-sm"
          >Password</nz-form-label
        >
        <nz-form-control [nzErrorTip]="passwordErrorTpl" class="!contents">
          <nz-input-group [nzSuffix]="suffixTemplatePassword" class="!mt-0 !mb-0 !h-[36px] !rounded border-gray-200">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              placeholder="Nhập mật khẩu"
              formControlName="password" />
          </nz-input-group>
          <ng-template #suffixTemplatePassword>
            <svg-icon
              src="assets/icons/heroicons/outline/{{ passwordVisible ? 'eye-off' : 'eye' }}.svg"
              (click)="passwordVisible = !passwordVisible"
              [svgClass]="'h-5 w-5 cursor-pointer'">
            </svg-icon>
          </ng-template>
          <ng-template #passwordErrorTpl let-control>
            <span class="mt-1 !text-xs text-red-500">
              @if (passwordForm.controls['password'].errors?.['passwordSameAsOld'] &&
              passwordForm.controls['password'].touched) { Mật khẩu mới không được trùng mật khẩu cũ. } @if
              (passwordForm.controls['password'].errors?.['passwordInvalid'] &&
              passwordForm.controls['password'].touched) { Vui lòng nhập đúng format mật khẩu. } @if
              (passwordForm.controls['password'].errors?.['required'] && passwordForm.controls['password'].touched) {
              Vui lòng nhập mật khẩu. }
            </span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="relative">
      <nz-form-item class="!flex !w-full !flex-col">
        <nz-form-label nzFor="confirmPassword" class="!flex !items-start !justify-start !p-0 !text-sm"
          >Confirm Password</nz-form-label
        >
        <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl" class="!contents">
          <nz-input-group
            [nzSuffix]="suffixTemplateConfirmPPassword"
            class="!mt-0 !mb-0 !h-[36px] !rounded border-gray-200">
            <input
              [type]="confirmPasswordVisible ? 'text' : 'password'"
              nz-input
              placeholder="Nhập lại mật khẩu"
              formControlName="confirmPassword" />
          </nz-input-group>
          <ng-template #suffixTemplateConfirmPPassword>
            <div class="flex items-center gap-2">
              @if(f['confirmPassword'].value){
              <span
                nz-icon
                class="ant-input-clear-icon"
                nzTheme="fill"
                nzType="close-circle"
                (click)="f['confirmPassword'].patchValue('')"></span>
              }
              <svg-icon
                src="assets/icons/heroicons/outline/{{ confirmPasswordVisible ? 'eye-off' : 'eye' }}.svg"
                (click)="confirmPasswordVisible = !confirmPasswordVisible"
                [svgClass]="'h-5 w-5 cursor-pointer'">
              </svg-icon>
            </div>
          </ng-template>
          <ng-template #confirmPasswordErrorTpl let-control>
            <span class="mt-1 !text-xs text-red-500">
              @if (f['confirmPassword'].errors?.['required'] && f['confirmPassword'].touched) { Vui lòng nhập mật khẩu.
              }
            </span>
          </ng-template>
          @if (f['confirmPassword'].errors?.['passwordMismatch'] && !f['confirmPassword'].errors?.['required'] &&
          f['confirmPassword'].touched) {
          <span class="mt-1 !text-xs text-red-500">Mật khẩu không khớp nhau.</span> }
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="flex w-full flex-col gap-2 overflow-hidden text-left">
      <label class="text-sm font-medium">Password yêu cầu</label>
      <label
        nz-checkbox
        [(ngModel)]="passwordConditions['minLength']"
        [ngModelOptions]="{ standalone: true }"
        class="nz-checkbox-marker pointer-events-none !m-0 !p-0 transition-all duration-200">
        Tối thiểu 8 ký tự
      </label>
      <label
        nz-checkbox
        [(ngModel)]="passwordConditions['hasWordCase']"
        [ngModelOptions]="{ standalone: true }"
        class="nz-checkbox-marker pointer-events-none !m-0 !p-0 transition-all duration-200">
        Ít nhất một chữ cái viết hoa và viết thường
      </label>
      <label
        nz-checkbox
        [(ngModel)]="passwordConditions['hasNumber']"
        [ngModelOptions]="{ standalone: true }"
        class="nz-checkbox-marker pointer-events-none !m-0 !p-0 transition-all duration-200">
        Ít nhất một chữ số
      </label>
      <label
        nz-checkbox
        [(ngModel)]="passwordConditions['hasSpecial']"
        [ngModelOptions]="{ standalone: true }"
        class="nz-checkbox-marker pointer-events-none !m-0 !p-0 transition-all duration-200">
        Ít nhất một ký tự đặc biệt: {{ '! @ # $ % ^ & * ( ) _ + - =' }}
      </label>
      <label
        nz-checkbox
        [(ngModel)]="passwordConditions['noneSpace']"
        [ngModelOptions]="{ standalone: true }"
        class="nz-checkbox-marker pointer-events-none !m-0 !p-0 transition-all duration-200">
        Không chứa khoảng trắng
      </label>
    </div>
  </div>

  <div class="my-5 flex w-full justify-end">
    <button
      class="!min-w-24 !bg-primary !flex !h-max !justify-center !rounded-lg !py-2 !px-3 !text-white hover:!border-red-500 hover:!bg-red-200 hover:!text-red-500"
      nz-button
      nzType="default"
      type="submit"
      [disabled]="!hasFormChanged() || !passwordForm.valid">
      SAVE
    </button>
  </div>
</form>
