<div class="mb-4 flex justify-end">
  <div class="inline-block space-x-4">
    <button
      class="bg-muted text-muted-foreground hover:text-foreground rounded-md px-4 py-2.5 text-xs font-semibold"
      (click)="backPage()">
      Back
    </button>
  </div>
</div>

<div class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border px-6 py-2">
  <form [formGroup]="mainForm" nz-form *ngIf="mainForm" (ngSubmit)="onSubmit()">
    <div class="flex gap-4">
      <div class="flex h-full w-4/12 flex-col">
        <nz-form-label nzFor="dvarta" class="!flex !h-[36px] !items-center !justify-start">avatar</nz-form-label>
        <div class="flex h-full w-full flex-col items-center justify-center gap-2">
          <div
            class="flex h-28 w-28 items-center justify-center overflow-hidden rounded-full border border-dashed border-blue-500">
            <img
              alt="user avatar"
              [src]="userAvarta || defaultAvatar"
              [class]="'w-full cursor-pointer'"
              [style]="
                user && user.avatar
                  ? {
                      'background-color': utils.generateColorsFromId(user._id).bg,
                      color: utils.generateColorsFromId(user._id).text
                    }
                  : ''
              " />
          </div>
          <div nz-popover [nzPopoverContent]="userAvatarTemplate" class="relative">
            <button
              class="!min-w-24 !flex !h-max !justify-center !rounded-lg !py-2 !px-3 hover:!border-red-500 hover:!bg-red-200 hover:!text-red-500"
              nz-button
              type="button"
              nzType="default">
              <span>Chọn ảnh</span>
            </button>
          </div>
          <ng-template #userAvatarTemplate>
            <div class="grap-2 grid w-96 cursor-pointer grid-cols-2">
              <div class="relative flex h-12 cursor-pointer flex-wrap items-center justify-center px-2">
                <input
                  type="file"
                  class="z-50 block h-full w-full cursor-pointer opacity-0"
                  (change)="onFileChange($event)" />
                <div
                  class="absolute top-0 right-0 left-0 m-auto flex h-full w-full cursor-pointer flex-wrap content-center items-center justify-center">
                  <svg-icon svgClass="w-7 h-7" src="assets/icons/upload.svg"></svg-icon>
                  <p class="w-full pt-1 text-center text-xs">Tập tin cục bộ</p>
                </div>
              </div>
              <div
                class="flex h-12 cursor-pointer flex-wrap items-center justify-center px-2"
                (click)="openFilesCenterDialog()">
                <svg-icon svgClass="w-7 h-7" src="assets/icons/media.svg"></svg-icon>
                <p class="w-full pt-1 text-center text-xs">Trung tâm phương tiện</p>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="flex w-8/12 flex-wrap">
        <div class="flex w-full gap-4" formGroupName="userForm">
          <div class="flex w-6/12">
            <nz-form-item class="!min-h-[96px] !w-full">
              <nz-form-label nzFor="phoneNumber" class="!flex !h-[36px] !items-center !justify-start"
                >Phone Number</nz-form-label
              >
              <nz-form-control [nzErrorTip]="userFormPhoneNumberErrorTpl" class="!flex flex-col">
                <nz-input-group
                  [nzSuffix]="userFormPhoneNumberClearTpl"
                  class="!mt-0 !mb-0 !h-[36px] !rounded border-gray-200">
                  <input
                    type="text"
                    nz-input
                    formControlName="phoneNumber"
                    mask="0000 000 000"
                    placeholder="Nhập Phone Number" />
                </nz-input-group>
                <ng-template #userFormPhoneNumberClearTpl>
                  <span
                    nz-icon
                    class="ant-input-clear-icon"
                    nzTheme="fill"
                    nzType="close-circle"
                    (click)="userForm.controls['phoneNumber'].patchValue('')"></span>
                </ng-template>
                <ng-template #userFormPhoneNumberErrorTpl let-control>
                  <span class="mt-1 !text-xs text-red-500">
                    @if (userForm.controls['phoneNumber'].errors?.['required']) { Vui lòng nhập số điện thoại }
                    @if(userForm.controls['phoneNumber'].errors?.['pattern']) { Vui lòng nhập đúng số điện thoại }
                  </span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="flex w-6/12">
            <nz-form-item class="!min-h-[96px] !w-full">
              <nz-form-label nzFor="email" class="!flex !h-[36px] !items-center !justify-start">Email</nz-form-label>
              <nz-form-control [nzErrorTip]="userFormEmailErrorTpl" class="!flex flex-col">
                <nz-input-group
                  [nzSuffix]="userFormEmailClearTpl"
                  class="!mt-0 !mb-0 !h-[36px] !rounded border-gray-200">
                  <input type="text" nz-input formControlName="email" placeholder="Nhập Email" />
                </nz-input-group>
                <ng-template #userFormEmailClearTpl>
                  <span
                    nz-icon
                    class="ant-input-clear-icon"
                    nzTheme="fill"
                    nzType="close-circle"
                    (click)="userForm.controls['email'].patchValue('')"></span>
                </ng-template>
                <ng-template #userFormEmailErrorTpl let-control>
                  <span class="mt-1 !text-xs text-red-500">
                    @if (userForm.controls['email'].errors?.['required']) { Vui lòng nhập trường này }
                  </span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="flex w-full gap-4" formGroupName="userForm">
          <div class="flex w-6/12">
            <nz-form-item class="!min-h-[96px] !w-full">
              <nz-form-label nzFor="name" class="!flex !h-[36px] !items-center !justify-start">Name</nz-form-label>
              <nz-form-control [nzErrorTip]="userFormNameErrorTpl" class="!flex flex-col">
                <nz-input-group
                  [nzSuffix]="userFormNameClearTpl"
                  class="!mt-0 !mb-0 !h-[36px] !rounded border-gray-200">
                  <input type="text" nz-input formControlName="name" placeholder="Nhập Name" />
                </nz-input-group>
                <ng-template #userFormNameClearTpl>
                  <span
                    nz-icon
                    class="ant-input-clear-icon"
                    nzTheme="fill"
                    nzType="close-circle"
                    (click)="userForm.controls['name'].patchValue('')"></span>
                </ng-template>
                <ng-template #userFormNameErrorTpl let-control>
                  <span class="mt-1 !text-xs text-red-500">
                    @if (userForm.controls['name'].errors?.['required']) { Vui lòng nhập trường này }
                  </span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="flex w-6/12">
            <nz-form-item class="!min-h-[98px] !w-full">
              <nz-form-label nzFor="gender" class="!flex !h-[36px] !items-center !justify-start">Gender</nz-form-label>
              <nz-form-control [nzErrorTip]="userFormGenderErrorTpl">
                <nz-select formControlName="gender" nzPlaceHolder="Chọn Gender">
                  @for (gender of genders; track gender) {
                  <nz-option nzCustomContent [nzLabel]="gender.label" [nzValue]="gender.value">
                    <div class="flex items-center">
                      <span class="!font-medium">
                        {{ gender.label }}
                      </span>
                    </div>
                  </nz-option>
                  }
                </nz-select>
                <ng-template #userFormGenderErrorTpl let-control>
                  <span class="mt-1 !text-xs text-red-500">
                    @if (userForm.controls['gender'].errors?.['required']) { Vui lòng chọn Gender }
                  </span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="flex w-full gap-4" formGroupName="userForm">
          <div class="flex w-6/12">
            <nz-form-item class="!min-h-[96px] !w-full">
              <nz-form-label nzFor="birthdate" class="!flex !h-[36px] !items-center !justify-start"
                >Ngày Sinh</nz-form-label
              >
              <nz-form-control [nzErrorTip]="userFormBirthdateErrorTpl" class="!flex w-full flex-col">
                <nz-date-picker
                  class="h-[36px] w-full"
                  [nzDisabledDate]="checkDisableDateTime"
                  [nzMode]="'date'"
                  nzFormat="yyyy-MM-dd"
                  formControlName="birthdate"></nz-date-picker>
                <ng-template #userFormBirthdateErrorTpl let-control>
                  <span class="mt-1 !text-xs text-red-500">
                    @if (userForm.get('birthdate')?.errors?.['required']) { Vui lòng nhập vào trường này }
                  </span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="flex w-6/12">
            <nz-form-item class="!min-h-[98px] !w-full">
              <nz-form-label nzFor="role" class="!flex !h-[36px] !items-center !justify-start">Roles</nz-form-label>
              <nz-form-control [nzErrorTip]="userFormRoleErrorTpl">
                <nz-select formControlName="role" nzPlaceHolder="Chọn Role">
                  @for (role of roles; track role) {
                  <nz-option nzCustomContent [nzLabel]="role.label" [nzValue]="role.value">
                    <div class="flex items-center">
                      <span class="!font-medium">
                        {{ role.label }}
                      </span>
                    </div>
                  </nz-option>
                  }
                </nz-select>
                <ng-template #userFormRoleErrorTpl let-control>
                  <span class="mt-1 !text-xs text-red-500">
                    @if (userForm.controls['role'].errors?.['required']) { Vui lòng chọn Role}
                  </span>
                </ng-template>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
    </div>

    <div class="flex gap-4" formGroupName="driverForm" *ngIf="userForm.get('role')?.value == 'driver'">
      <div class="flex w-4/12 flex-col">
        <nz-form-item class="!min-h-[96px] !w-full">
          <nz-form-label nzFor="licenseNumber" class="!flex !h-[36px] !items-center !justify-start"
            >License Number
          </nz-form-label>
          <nz-form-control class="!flex flex-col">
            <nz-input-group
              [nzSuffix]="driverFormLicenseNumberClearTpl"
              class="!mt-0 !mb-0 !h-[36px] !rounded border-gray-200">
              <input type="text" nz-input formControlName="licenseNumber" placeholder="Nhập License Number" />
            </nz-input-group>
            <ng-template #driverFormLicenseNumberClearTpl>
              <span
                nz-icon
                class="ant-input-clear-icon"
                nzTheme="fill"
                nzType="close-circle"
                (click)="driverForm.controls['licenseNumber'].patchValue('')"></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="flex w-4/12 flex-col">
        <nz-form-item class="!min-h-[96px] !w-full">
          <nz-form-label nzFor="licenseType" class="!flex !h-[36px] !items-center !justify-start"
            >License Type
          </nz-form-label>
          <nz-form-control class="!flex flex-col">
            <nz-input-group
              [nzSuffix]="driverFormLicenseTypeClearTpl"
              class="!mt-0 !mb-0 !h-[36px] !rounded border-gray-200">
              <input type="text" nz-input formControlName="licenseType" placeholder="Nhập License Type" />
            </nz-input-group>
            <ng-template #driverFormLicenseTypeClearTpl>
              <span
                nz-icon
                class="ant-input-clear-icon"
                nzTheme="fill"
                nzType="close-circle"
                (click)="driverForm.controls['licenseType'].patchValue('')"></span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="flex w-4/12">
        <nz-form-item class="!min-h-[96px] !w-full">
          <nz-form-label nzFor="licenseExpirationDate" class="!flex !h-[36px] !items-center !justify-start"
            >License Expiration Date</nz-form-label
          >
          <nz-form-control class="!flex w-full flex-col">
            <nz-date-picker
              class="h-[36px] w-full"
              [nzMode]="'date'"
              nzFormat="yyyy-MM-dd"
              formControlName="licenseExpirationDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="flex gap-4" formGroupName="userForm">
      <div class="flex w-4/12 flex-col">
        <nz-form-item class="!min-h-[108px] !w-full">
          <nz-form-label nzFor="password" class="!flex !h-[48px] !items-start !justify-start !text-sm"
            >Password</nz-form-label
          >
          <nz-form-control [nzErrorTip]="passwordErrorTpl" class="!contents">
            <nz-input-group [nzSuffix]="suffixTemplatePassword" class="!mt-0 !mb-0 !h-[36px] !rounded border-gray-200">
              <input
                [type]="passwordVisible ? 'text' : 'password'"
                nz-input
                placeholder="Nhập mật khẩu"
                formControlName="password" />
            </nz-input-group>
            <ng-template #suffixTemplatePassword>
              <svg-icon
                src="assets/icons/heroicons/outline/{{ passwordVisible ? 'eye-off' : 'eye' }}.svg"
                (click)="passwordVisible = !passwordVisible"
                [svgClass]="'h-5 w-5 cursor-pointer'">
              </svg-icon>
            </ng-template>
            <ng-template #passwordErrorTpl let-control>
              <span class="mt-1 !text-xs text-red-500">
                @if (userForm.controls['password'].errors?.['passwordInvalid'] && userForm.controls['password'].touched)
                { Vui lòng nhập đúng format mật khẩu. }
              </span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <div class="text-left text-[14px] text-[#EF5222]">
          <div>
            <label class="text-base font-medium text-red-500">Ghi chú</label>
          </div>
          <div
            class="transform transition duration-300 ease-in-out"
            [ngClass]="{
              valid: passwordConditions['minLength'],
              invalid: userForm.controls['password'].touched && !passwordConditions['minLength']
            }">
            <label class="text-sm">1. Tối thiểu 8 ký tự</label>
          </div>
          <div
            class="transform transition duration-300 ease-in-out"
            [ngClass]="{
              valid: passwordConditions['hasUpperCase'],
              invalid: userForm.controls['password'].touched && !passwordConditions['hasUpperCase']
            }">
            <label class="text-sm">2. Ít nhất một chữ cái viết hoa</label>
          </div>
          <div
            class="transform transition duration-300 ease-in-out"
            [ngClass]="{
              valid: passwordConditions['hasLowerCase'],
              invalid: userForm.controls['password'].touched && !passwordConditions['hasLowerCase']
            }">
            <label class="text-sm">3. Ít nhất một chữ cái viết thường</label>
          </div>
          <div
            class="transform transition duration-300 ease-in-out"
            [ngClass]="{
              valid: passwordConditions['hasNumber'],
              invalid: userForm.controls['password'].touched && !passwordConditions['hasNumber']
            }">
            <label class="text-sm">4. Ít nhất một chữ số</label>
          </div>
        </div>
      </div>
      <div class="flex w-8/12 flex-col">
        <div class="flex justify-between">
          <nz-form-label nzFor="addresses" class="!flex !h-[48px] !items-start !justify-start"> Địa chỉ </nz-form-label>
          <button
            class="!min-w-24 !flex !h-max !justify-center !rounded-lg !py-2 !px-3 hover:!border-red-500 hover:!bg-red-200 hover:!text-red-500"
            nz-button
            type="button"
            nzType="default"
            (click)="addAddress()">
            Thêm địa chỉ mới
          </button>
        </div>
        <ng-container>
          <nz-table #rowSelectionTable [nzFrontPagination]="false" [nzData]="addresses" class="!w-full">
            <thead>
              <tr>
                <th>#</th>
                <th class="min-w-[40px]">Loại địa chỉ</th>
                <th class="min-w-[200px]">Địa chỉ</th>
                <th class="min-w-[80px] !text-center"></th>
              </tr>
            </thead>
            <tbody>
              @for (address of rowSelectionTable.data; track address; let i = $index) {
              <tr>
                <td>{{ i }}</td>
                <td>{{ address.addressType }}</td>
                <td>{{ address.address }}</td>
                <td class="text-center">
                  <button
                    (click)="editAddress(address)"
                    type="button"
                    class="text-muted-foreground hover:bg-card hover:text-foreground inline-flex h-7 w-7 items-center justify-center rounded-md"
                    aria-label="Edit address">
                    <svg viewBox="0 0 20 20" fill="currentColor" class="size-5">
                      <path
                        d="m2.695 14.762-1.262 3.155a.5.5 0 0 0 .65.65l3.155-1.262a4 4 0 0 0 1.343-.886L17.5 5.501a2.121 2.121 0 0 0-3-3L3.58 13.419a4 4 0 0 0-.885 1.343Z" />
                    </svg>
                  </button>
                  <button
                    (click)="deleteAddress(address._id)"
                    type="button"
                    class="text-muted-foreground hover:bg-card hover:text-foreground inline-flex h-7 w-7 items-center justify-center rounded-md"
                    aria-label="Delete address">
                    <svg viewBox="0 0 20 20" fill="currentColor" class="size-5">
                      <path
                        fill-rule="evenodd"
                        d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z"
                        clip-rule="evenodd" />
                    </svg>
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </nz-table>
        </ng-container>
      </div>
    </div>
    <div class="my-5 flex w-full justify-end">
      <button
        class="!min-w-24 !bg-primary !flex !h-max !justify-center !rounded-lg !py-2 !px-3 !text-white hover:!border-red-500 hover:!bg-red-200 hover:!text-red-500"
        nz-button
        nzType="default"
        type="submit">
        SAVE
      </button>
    </div>
  </form>
</div>
