<div class="bg-background relative">
  <div class="mx-auto px-5">
    <div class="flex items-center justify-between py-3.5 md:justify-start">
      <!-- Mobile Navigation Menu Button-->
      <div class="sm:order-1 md:hidden">
        <button
          (click)="toggleMobileMenu()"
          type="button"
          class="bg-muted text-muted-foreground focus:ring-primary hover:bg-muted-foreground hover:text-muted inline-flex items-center justify-center rounded-md p-2 focus:outline-hidden focus:ring-2 focus:ring-inset"
          aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <!-- Heroicon name: outline/menu -->
          <svg-icon src="assets/icons/heroicons/outline/menu.svg" [svgClass]="'h-6 w-6'"> </svg-icon>
        </button>
      </div>

      <!-- Logo -->
      <div class="flex items-center justify-start sm:order-2 md:mr-10 lg:hidden">
        <a class="bg-primary flex items-center justify-center rounded-sm p-2 focus:outline-hidden focus:ring-1">
          <svg-icon src="assets/icons/logo.svg"></svg-icon>
        </a>
        <b class="text-foreground hidden pl-3 text-sm font-bold sm:block"> {{ title$ | async }} </b>
      </div>

      <!-- Desktop Menu -->
      <div class="hidden space-x-10 sm:order-3 md:flex">
        <app-navbar-menu></app-navbar-menu>
      </div>

      <!-- Profile menu -->
      <div class="items-center justify-end sm:order-4 md:flex md:flex-1 lg:w-0">
        <!-- Language Switcher -->
        <div
          class="flex cursor-pointer items-center gap-2 text-white transition hover:opacity-80"
          nz-dropdown
          [nzDropdownMenu]="languageMenu"
          [nzPlacement]="'bottomRight'">
          @if (currentLanguage === "vi") {
          <img src="assets/icons/vietnam.svg" width="16" alt="vietnamese" />
          } @else {
          <img src="assets/icons/eng.svg" width="16" alt="english" />
          }
          <span class="text-sm font-medium text-foreground">{{ getLanguageLabel(currentLanguage) }}</span>
          <img src="assets/icons/icon_form_droplist.svg" width="10" alt="dropdown" />
        </div>
        <nz-dropdown-menu #languageMenu="nzDropdownMenu">
          <ul nz-menu nzSelectable class="bg-white">
            <li
              nz-menu-item
              (click)="changeLanguage('vi')"
              [ngClass]="{ selected: currentLanguage === 'vi' }"
              class="px-4!">
              <img src="assets/icons/vietnam.svg" width="18" alt="vietnamese" /> {{ 'language.vietnamese' | translate }}
            </li>
            <li
              nz-menu-item
              (click)="changeLanguage('en')"
              [ngClass]="{ selected: currentLanguage === 'en' }"
              class="px-4!">
              <img src="assets/icons/eng.svg" width="18" alt="english" /> {{ 'language.english' | translate }}
            </li>
          </ul>
        </nz-dropdown-menu>
        <app-profile-menu></app-profile-menu>
      </div>
    </div>
  </div>
  <!-- Mobile menu -->
  <app-navbar-mobile></app-navbar-mobile>
</div>
