td {
    padding: 0.75rem 1rem;
    font-size: 0.85rem;
    @apply border-b border-muted/20;
  }
  
  th {
    font-weight: 500;
    padding: 0.625rem 1rem;
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    vertical-align: middle;
    @apply border-b border-r border-muted/20 bg-muted/5;
  }
  