<div class="mb-4 flex justify-end">
  <div class="flex gap-4">
    <div class="flex items-center gap-px rounded-lg bg-gray-100 p-1">
      <button
        (click)="changeviewDisplayMode('calendar')"
        [ngClass]="{ 'bg-white !text-indigo-600': viewDisplayMode == 'calendar' }"
        class="text-muted-foreground rounded-lg py-2.5 px-5 text-sm font-medium transition-all duration-300 hover:bg-white hover:text-indigo-600">
        Calendar
      </button>
      <button
        (click)="changeviewDisplayMode('table')"
        [ngClass]="{ 'bg-white !text-indigo-600': viewDisplayMode == 'table' }"
        class="text-muted-foreground rounded-lg py-2.5 px-5 text-sm font-medium transition-all duration-300 hover:bg-white hover:text-indigo-600">
        Table
      </button>
    </div>
    <div class="flex items-center gap-4">
      <button
        class="!min-w-24 !text-foreground hover:!text-foreground !flex !h-max !justify-center !rounded-lg border border-gray-300 !bg-gray-200 !py-2 !px-3 hover:!border-gray-300 hover:!bg-gray-300"
        nz-button
        aria-label="Import CSV">
        Import CSV
      </button>
      <button
        class="!min-w-24 !bg-primary !flex !h-max !justify-center !rounded-lg !py-2 !px-3 !text-white hover:!border-red-500 hover:!bg-red-200 hover:!text-red-500"
        nz-button
        (click)="addBusScheduleAutoGenerator()"
        type="button">
        Add Bus Schedule Auto
      </button>
    </div>
  </div>
</div>

<div class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border p-2">
  <ng-container [ngSwitch]="viewDisplayMode">
    <ng-container *ngSwitchCase="'table'">
      <app-table-action
        [title]="'Bus Scheduler Auto'"
        [totalItem]="totalItem"
        (sortDataEvent)="sortBusScheduleAutoGeneratorPage($event)"
        (searchDataEvent)="searchBusScheduleAutoGeneratorPage($event)"></app-table-action>
      <div class="overflow-x-auto">
        <nz-table
          #rowSelectionTable
          nzShowPagination
          nzShowSizeChanger
          [nzFrontPagination]="false"
          [nzData]="searchBusScheduleAutoGenerator.busScheduleAutoGenerators"
          class="!w-full"
          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
          <thead class="border-muted/20 text-muted-foreground border text-xs">
            <tr>
              <th
                class="w-[50px]"
                [nzChecked]="checked"
                [nzIndeterminate]="indeterminate"
                nzLabel="Select all"
                (nzCheckedChange)="onAllChecked($event)"></th>
              <th class="min-w-[200px]">Name</th>
              <th class="w-[150px] text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (busScheduleAutoGenerator of rowSelectionTable.data; track busScheduleAutoGenerator._id) {
            <tr class="hover:bg-card/50">
              <td
                [nzChecked]="setOfCheckedId.has(busScheduleAutoGenerator._id)"
                [nzLabel]="busScheduleAutoGenerator.name"
                (nzCheckedChange)="onItemChecked(busScheduleAutoGenerator._id, $event)"></td>
              <td></td>
              <td>
                <nz-skeleton
                  [nzLoading]="isLoadingBusScheduleAutoGenerator"
                  [nzParagraph]="false"
                  [nzTitle]="{ width: '100%' }"
                  [nzActive]="true">
                  {{ busScheduleAutoGenerator.name }}
                </nz-skeleton>
              </td>
              <td class="text-center">
                <nz-skeleton
                  [nzLoading]="isLoadingBusScheduleAutoGenerator"
                  [nzParagraph]="false"
                  [nzTitle]="{ width: '100%' }"
                  [nzActive]="true">
                  <div class="flex items-center justify-center">
                    <button
                      (click)="editBusScheduleAutoGenerator(busScheduleAutoGenerator)"
                      class="text-muted-foreground hover:bg-card hover:text-foreground inline-flex h-7 w-7 items-center justify-center rounded-md"
                      aria-label="Edit busSchedule">
                      <svg viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path
                          d="m2.695 14.762-1.262 3.155a.5.5 0 0 0 .65.65l3.155-1.262a4 4 0 0 0 1.343-.886L17.5 5.501a2.121 2.121 0 0 0-3-3L3.58 13.419a4 4 0 0 0-.885 1.343Z" />
                      </svg>
                    </button>
                    <button
                      (click)="cloneData(busScheduleAutoGenerator)"
                      class="text-muted-foreground hover:bg-card hover:text-foreground inline-flex h-7 w-7 items-center justify-center rounded-md"
                      aria-label="Delete busRoute">
                      <svg-icon
                        [src]="'./assets/icons/heroicons/outline/document-duplicate.svg'"
                        class="size-5 mr-1 inline-block"
                        aria-hidden="true">
                      </svg-icon>
                    </button>
                    <button
                      (click)="deleteBusScheduleAutoGenerator(busScheduleAutoGenerator._id)"
                      class="text-muted-foreground hover:bg-card hover:text-foreground inline-flex h-7 w-7 items-center justify-center rounded-md"
                      aria-label="Delete busSchedule">
                      <svg viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path
                          fill-rule="evenodd"
                          d="M8.75 1A2.75 2.75 0 0 0 6 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 1 0 .23 1.482l.149-.022.841 10.518A2.75 2.75 0 0 0 7.596 19h4.807a2.75 2.75 0 0 0 2.742-2.53l.841-10.52.149.023a.75.75 0 0 0 .23-1.482A41.03 41.03 0 0 0 14 4.193V3.75A2.75 2.75 0 0 0 11.25 1h-2.5ZM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4ZM8.58 7.72a.75.75 0 0 0-1.5.06l.3 7.5a.75.75 0 1 0 1.5-.06l-.3-7.5Zm4.34.06a.75.75 0 1 0-1.5-.06l-.3 7.5a.75.75 0 1 0 1.5.06l.3-7.5Z"
                          clip-rule="evenodd" />
                      </svg>
                    </button>
                  </div>
                </nz-skeleton>
              </td>
            </tr>
            } @empty {
            <tr>
              <td class="py-4 text-center text-sm" colspan="4">No Bus Schedule AutoGenerators found</td>
            </tr>
            }
          </tbody>
        </nz-table>
      </div>
      <app-table-footer
        [pageIdx]="searchParams.pageIdx"
        [pageSize]="searchParams.pageSize"
        [totalItem]="totalItem"
        [isLoading]="isLoadingBusScheduleAutoGenerator"
        [totalPage]="totalPage"
        (reloadDataAndPageEvent)="reloadBusScheduleAutoGeneratorPage($event)">
      </app-table-footer>
    </ng-container>
    <ng-container *ngSwitchCase="'calendar'"
      ><app-calendar-events
        *ngIf="searchBusScheduleAutoGenerator && searchBusScheduleAutoGenerator.busScheduleAutoGenerators"
        [events]="calendarEvents"
        [isLoadedEvent]="!isLoadingBusScheduleAutoGenerator"
        (viewDetailEventEmit)="editBusScheduleAutoGenerator($event)"
        (createEventEmit)="editBusScheduleAutoGenerator($event)"
        (reLoadEventEmit)="reLoadDataEvent($event)"></app-calendar-events
    ></ng-container>
  </ng-container>
</div>
