<form class="my-10 space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="text-center">
    <h2 class="text-foreground mb-1 text-3xl font-semibold">Sign Up <span class="text-primary">!</span></h2>
    <p class="text-muted-foreground text-sm">Let's get started with your 30 day free trial</p>
  </div>

  <div routerLink="/dashboard">
    <app-button full impact="bold" tone="light" shape="rounded" size="medium">
      <svg-icon src="assets/icons/google-logo.svg" [svgClass]="'h-6 w-6 mr-2'"> </svg-icon>
      Sign Up with Google
    </app-button>
  </div>

  <div
    class="before:border-muted after:border-muted my-4 flex items-center before:mt-0.5 before:flex-1 before:border-t after:mt-0.5 after:flex-1 after:border-t">
    <p class="text-muted-foreground mx-4 mb-0 text-center text-sm">or</p>
  </div>

  <div class="space-y-3 text-left">
    <div class="relative flex gap-2">
      <div class="w-1/2">
        <nz-form-item class="!flex !w-full !flex-col">
          <nz-form-label nzFor="tenantName" class="!flex !items-center !justify-start !text-sm"
            >Tenant Name</nz-form-label
          >
          <nz-form-control [nzErrorTip]="userFormTenantNameErrorTpl" class="!flex flex-col">
            <nz-input-group [nzSuffix]="userFormTenantNameClearTpl" class="!mt-0 !mb-0 !rounded border-gray-200">
              <input
                type="text"
                nz-input
                formControlName="tenantName"
                placeholder="Nhập Tenant Name"
                (ngModelChange)="updateTenantCode()" />
            </nz-input-group>
            <ng-template #userFormTenantNameClearTpl>
              @if(f['tenantName'].value){
              <span
                nz-icon
                class="ant-input-clear-icon"
                nzTheme="fill"
                nzType="close-circle"
                (click)="f['tenantName'].patchValue('')"></span>
              }
            </ng-template>
            <ng-template #userFormTenantNameErrorTpl let-control>
              <span class="mt-1 !text-xs text-red-500">
                @if (f['tenantName'].errors?.['required']) { Vui lòng nhập Tenant Name }
              </span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="w-1/2">
        <nz-form-item class="!flex !w-full !flex-col">
          <nz-form-label nzFor="tenantCode" class="!flex !items-center !justify-start !text-sm"
            >Tenant Code</nz-form-label
          >
          <nz-form-control [nzErrorTip]="userFormTenantCodeErrorTpl" class="!flex flex-col">
            <nz-input-group [nzSuffix]="userFormTenantCodeClearTpl" class="!mt-0 !mb-0 !rounded border-gray-200">
              <input type="text" nz-input formControlName="tenantCode" placeholder="Nhập Tenant Code" />
            </nz-input-group>
            <ng-template #userFormTenantCodeClearTpl>
              @if(f['tenantCode'].value){
              <span
                nz-icon
                class="ant-input-clear-icon"
                nzTheme="fill"
                nzType="close-circle"
                (click)="f['tenantCode'].patchValue('')"></span>
              }
            </ng-template>
            <ng-template #userFormTenantCodeErrorTpl let-control>
              <span class="mt-1 !text-xs text-red-500">
                @if (f['tenantCode'].errors?.['required']) { Vui lòng nhập Tenant Code }
              </span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div class="relative">
      <nz-form-item class="!flex !w-full !flex-col">
        <nz-form-label nzFor="phoneNumber" class="!flex !items-center !justify-start !text-sm"
          >Phone Number</nz-form-label
        >
        <nz-form-control [nzErrorTip]="userFormPhoneNumberErrorTpl" class="!flex flex-col">
          <nz-input-group [nzSuffix]="userFormPhoneNumberClearTpl" class="!mt-0 !mb-0 !rounded border-gray-200">
            <input
              type="text"
              nz-input
              formControlName="phoneNumber"
              mask="0000 000 000"
              placeholder="Nhập Phone Number" />
          </nz-input-group>
          <ng-template #userFormPhoneNumberClearTpl>
            @if(f['phoneNumber'].value){
            <span
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              (click)="f['phoneNumber'].patchValue('')"></span>
            }
          </ng-template>
          <ng-template #userFormPhoneNumberErrorTpl let-control>
            <span class="mt-1 !text-xs text-red-500">
              @if (f['phoneNumber'].errors?.['required']) { Vui lòng nhập số điện thoại }
              @if(f['phoneNumber'].errors?.['pattern']) { Vui lòng nhập đúng số điện thoại }
            </span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="relative flex flex-col gap-4">
      <nz-form-item class="!flex !w-full !flex-col">
        <nz-form-label nzFor="password" class="!flex !items-start !justify-start !p-0 !text-sm">Password</nz-form-label>
        <nz-form-control [nzErrorTip]="passwordErrorTpl" class="!contents">
          <nz-input-group [nzSuffix]="suffixTemplatePassword" class="!mt-0 !mb-0 !h-[36px] !rounded border-gray-200">
            <input
              [type]="passwordVisible ? 'text' : 'password'"
              nz-input
              placeholder="Nhập mật khẩu"
              formControlName="password"
              (focus)="passwordFocused = true"
              (blur)="passwordFocused = false" />
          </nz-input-group>
          <ng-template #suffixTemplatePassword>
            <div class="flex items-center gap-2">
              @if(f['password'].value){
              <span
                nz-icon
                class="ant-input-clear-icon"
                nzTheme="fill"
                nzType="close-circle"
                (click)="f['password'].patchValue('')"></span>
              }
              <svg-icon
                src="assets/icons/heroicons/outline/{{ passwordVisible ? 'eye-off' : 'eye' }}.svg"
                (click)="passwordVisible = !passwordVisible"
                [svgClass]="'h-5 w-5 cursor-pointer'">
              </svg-icon>
            </div>
          </ng-template>
          <ng-template #passwordErrorTpl let-control>
            <span class="mt-1 !text-xs text-red-500">
              @if (f['password'].errors?.['required'] && f['password'].touched) { Vui lòng nhập mật khẩu. } @if
              (f['password'].errors?.['passwordInvalid'] && f['password'].touched) { Vui lòng nhập đúng format mật khẩu.
              }
            </span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <div 
        class="flex flex-col gap-2 text-left overflow-hidden transition-all duration-300 ease-in-out"
        [ngClass]="{
          'max-h-0 opacity-0 transform -translate-y-2': !passwordFocused,
          'max-h-96 opacity-100 transform translate-y-0': passwordFocused
        }">
        <label class="text-sm font-medium">Password yêu cầu</label>
        <label
          nz-checkbox
          [(ngModel)]="passwordConditions['minLength']"
          [ngModelOptions]="{ standalone: true }"
          class="nz-checkbox-marker pointer-events-none !m-0 !p-0 transition-all duration-200">
          Tối thiểu 8 ký tự
        </label>
        <label
          nz-checkbox
          [(ngModel)]="passwordConditions['hasWordCase']"
          [ngModelOptions]="{ standalone: true }"
          class="nz-checkbox-marker pointer-events-none !m-0 !p-0 transition-all duration-200">
          Ít nhất một chữ cái viết hoa và viết thường
        </label>
        <label
          nz-checkbox
          [(ngModel)]="passwordConditions['hasNumber']"
          [ngModelOptions]="{ standalone: true }"
          class="nz-checkbox-marker pointer-events-none !m-0 !p-0 transition-all duration-200">
          Ít nhất một chữ số
        </label>
        <label
          nz-checkbox
          [(ngModel)]="passwordConditions['hasSpecial']"
          [ngModelOptions]="{ standalone: true }"
          class="nz-checkbox-marker pointer-events-none !m-0 !p-0 transition-all duration-200">
          Ít nhất một ký tự đặc biệt: {{ '! @ # $ % ^ & * ( ) _ + - =' }}
        </label>
        <label
          nz-checkbox
          [(ngModel)]="passwordConditions['noneSpace']"
          [ngModelOptions]="{ standalone: true }"
          class="nz-checkbox-marker pointer-events-none !m-0 !p-0 transition-all duration-200">
          Không chứa khoảng trắng
        </label>
      </div>
    </div>
    <div class="relative">
      <nz-form-item class="!flex !w-full !flex-col">
        <nz-form-label nzFor="confirmPassword" class="!flex !items-start !justify-start !p-0 !text-sm"
          >Confirm Password</nz-form-label
        >
        <nz-form-control [nzErrorTip]="confirmPasswordErrorTpl" class="!contents">
          <nz-input-group
            [nzSuffix]="suffixTemplateConfirmPPassword"
            class="!mt-0 !mb-0 !h-[36px] !rounded border-gray-200">
            <input
              [type]="confirmPasswordVisible ? 'text' : 'password'"
              nz-input
              placeholder="Nhập lại mật khẩu"
              formControlName="confirmPassword" />
          </nz-input-group>
          <ng-template #suffixTemplateConfirmPPassword>
            <div class="flex items-center gap-2">
              @if(f['confirmPassword'].value){
              <span
                nz-icon
                class="ant-input-clear-icon"
                nzTheme="fill"
                nzType="close-circle"
                (click)="f['confirmPassword'].patchValue('')"></span>
              }
              <svg-icon
                src="assets/icons/heroicons/outline/{{ confirmPasswordVisible ? 'eye-off' : 'eye' }}.svg"
                (click)="confirmPasswordVisible = !confirmPasswordVisible"
                [svgClass]="'h-5 w-5 cursor-pointer'">
              </svg-icon>
            </div>
          </ng-template>
          <ng-template #confirmPasswordErrorTpl let-control>
            <span class="mt-1 !text-xs text-red-500">
              @if (f['confirmPassword'].errors?.['required'] && f['confirmPassword'].touched) { Vui lòng nhập mật khẩu.
              }
            </span>
          </ng-template>
          @if (f['confirmPassword'].errors?.['passwordMismatch'] && !f['confirmPassword'].errors?.['required'] &&
          f['confirmPassword'].touched) {
          <span class="mt-1 !text-xs text-red-500">Mật khẩu không khớp nhau.</span> }
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="justify-stretch flex flex-col space-x-3">
    <nz-form-control [nzErrorTip]="acceptTermErrorTpl" class="!contents">
      <label nz-checkbox formControlName="acceptTerm" class="!m-0 !p-0">
        <label for="accept-term" class="text-muted-foreground ml-2 flex items-center text-sm">
          I Accept the <app-button impact="none" tone="primary" shape="rounded" size="small"> Terms </app-button>
        </label>
      </label>
      <ng-template #acceptTermErrorTpl let-control>
        <span class="mt-1 !text-xs text-red-500">
          @if (f['acceptTerm'].errors?.['required'] && f['acceptTerm'].touched) { Vui lòng chấp nhận điều khoản. }
        </span>
      </ng-template>
    </nz-form-control>
  </div>

  <!-- Submit Button -->
  <div>
    <app-button full impact="bold" tone="primary" shape="rounded" size="medium">Sign up</app-button>
  </div>

  <!-- Sign-up -->
  <div class="text-muted-foreground flex items-center text-sm">
    Already have an Account?
    <app-button routerLink="/auth/sign-in" impact="none" tone="primary" shape="rounded" size="small">
      Sign in
    </app-button>
  </div>
</form>
