<div class="mb-4 flex justify-end">
  <div class="inline-block space-x-4">
    <button
      class="bg-muted text-muted-foreground hover:text-foreground rounded-md px-4 py-2.5 text-xs font-semibold"
      (click)="backPage()">
      Back
    </button>
  </div>
</div>

<div class="border-muted/20 bg-background flex min-w-full flex-col rounded-xl border p-6">
  <form [formGroup]="busScheduleAutoGeneratorDetailForm" nz-form *ngIf="busScheduleAutoGeneratorDetailForm">
    <span class="mb-5 text-xl font-bold">{{ busScheduleAutoGenerator ? 'Chỉnh sửa' : 'Thêm mới' }}</span>
    <div class="flex gap-4">
      <div class="flex w-5/12">
        <nz-form-item class="!min-h-[96px] !w-full">
          <nz-form-label
            nzFor="name"
            [nzNoColon]="true"
            [nzRequired]="true"
            class="!flex !h-[36px] !items-center !justify-start !text-sm"
            >Name</nz-form-label
          >
          <nz-form-control [nzErrorTip]="busScheduleAutoGeneratorDetailNameErrorTpl" class="!flex flex-col">
            <nz-input-group
              [nzSuffix]="busScheduleAutoGeneratorDetailNameClearTpl"
              class="!mt-0 !mb-0 !h-[36px] !rounded border-gray-200">
              <input type="text" nz-input formControlName="name" placeholder="Nhập Name" />
            </nz-input-group>
            <ng-template #busScheduleAutoGeneratorDetailNameClearTpl>
              <span
                nz-icon
                class="ant-input-clear-icon"
                nzTheme="fill"
                nzType="close-circle"
                (click)="busScheduleAutoGeneratorDetailForm.controls['name'].patchValue('')"></span>
            </ng-template>
            <ng-template #busScheduleAutoGeneratorDetailNameErrorTpl let-control>
              <span class="mt-1 !text-xs text-red-500">
                @if (busScheduleAutoGeneratorDetailForm.controls['name'].errors?.['required']) { Vui lòng nhập trường
                này }
              </span>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="flex w-7/12 gap-4">
        <div class="flex w-full flex-col">
          <nz-form-item class="!min-h-[98px] !w-full">
            <nz-form-label
              nzFor="busScheduleTemplateId"
              [nzNoColon]="true"
              [nzRequired]="true"
              class="!flex !h-[36px] !items-center !justify-start"
              >Bus Schedule Template
            </nz-form-label>
            <nz-form-control
              [nzErrorTip]="busScheduleAutogeneratorDetailBusScheduleTemplateIdErrorTpl"
              class="!flex !w-full flex-col">
              <nz-select formControlName="busScheduleTemplateId" nzPlaceHolder="Chọn Bus Schedule Template">
                @for (busScheduleTemplate of busScheduleTemplates; track busScheduleTemplate) {
                <nz-option nzCustomContent [nzLabel]="busScheduleTemplate.name" [nzValue]="busScheduleTemplate._id">
                  <div class="flex items-center">
                    <span class="!font-medium">
                      {{ busScheduleTemplate.name }}
                    </span>
                  </div>
                </nz-option>
                }
              </nz-select>
              <ng-template #busScheduleAutogeneratorDetailBusScheduleTemplateIdErrorTpl let-control>
                <span class="mt-1 !text-xs text-red-500">
                  @if (busScheduleAutoGeneratorDetailForm.get('busScheduleTemplateId')?.errors?.['required']) { Vui lòng
                  Bus Schedule Template }
                </span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="flex min-w-[150px]">
          <nz-form-item class="!mb-0 !flex w-full !flex-col">
            <nz-form-label
              nzFor="status"
              [nzNoColon]="true"
              [nzRequired]="true"
              class="!flex !items-center !justify-start"
              >Status</nz-form-label
            >
            <nz-form-control class="!flex !max-h-[42px] flex-col">
              <nz-select
                class="custom-nz-select height-large !mt-0 !mb-0 !w-full busSchedule-status-{{
                  busScheduleAutoGeneratorDetailForm.get('status')?.value
                }}"
                formControlName="status">
                @for (status of busScheduleAutoGeneratorStatuses; track status) {
                <nz-option [nzLabel]="status.label" [nzValue]="status.value"></nz-option>
                }
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div class="flex gap-4">
      <div class="flex w-5/12 gap-4">
        <div class="flex w-4/12">
          <nz-form-item class="!min-h-[96px] !w-full">
            <nz-form-label
              nzFor="repeatInterval"
              [nzNoColon]="true"
              [nzRequired]="true"
              class="!flex !h-[36px] !items-center !justify-start !text-sm"
              >Run rule every</nz-form-label
            >
            <nz-form-control
              [nzErrorTip]="busScheduleAutoGeneratorDetailRepeatIntervalDaysErrorTpl"
              class="!flex flex-col">
              <nz-input-group
                [nzSuffix]="busScheduleAutoGeneratorDetailRepeatIntervalDaysClearTpl"
                class="!mt-0 !mb-0 !h-[36px] !rounded border-gray-200">
                <input type="number" nz-input formControlName="repeatInterval" />
              </nz-input-group>
              <ng-template #busScheduleAutoGeneratorDetailRepeatIntervalDaysClearTpl>
                <span
                  nz-icon
                  class="ant-input-clear-icon"
                  nzTheme="fill"
                  nzType="close-circle"
                  (click)="busScheduleAutoGeneratorDetailForm.controls['repeatInterval'].patchValue('')"></span>
              </ng-template>
              <ng-template #busScheduleAutoGeneratorDetailRepeatIntervalDaysErrorTpl let-control>
                <span class="mt-1 !text-xs text-red-500">
                  @if (busScheduleAutoGeneratorDetailForm.controls['repeatInterval'].errors?.['required']) { Vui lòng
                  nhập trường này }
                </span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="flex w-4/12">
          <nz-form-item class="!min-h-[98px] !w-full">
            <nz-form-label
              nzFor="repeatType"
              [nzNoColon]="true"
              [nzRequired]="true"
              class="!flex !h-[36px] !items-center !justify-start !text-sm"
              >Repeat Types</nz-form-label
            >
            <nz-form-control>
              <nz-select
                formControlName="repeatType"
                nzPlaceHolder="Chọn Bus Repeat Types"
                (ngModelChange)="changeRepeatType($event)">
                <nz-option nzCustomContent [nzLabel]="'Days'" [nzValue]="'days'">
                  <div class="flex items-center">
                    <span class="!font-medium"> Days </span>
                  </div>
                </nz-option>
                <nz-option nzCustomContent [nzLabel]="'Weeks'" [nzValue]="'weeks'">
                  <div class="flex items-center">
                    <span class="!font-medium"> Weeks </span>
                  </div>
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="flex w-4/12">
          <nz-form-item class="!min-h-[96px] !w-full">
            <nz-form-label
              nzFor="preGenerateDays"
              [nzNoColon]="true"
              [nzRequired]="true"
              class="!flex !h-[36px] !items-center !justify-start !text-sm"
              >PreGenerate Days</nz-form-label
            >
            <nz-form-control
              [nzErrorTip]="busScheduleAutoGeneratorDetailPreGenerateDaysErrorTpl"
              class="!flex flex-col">
              <nz-input-group
                [nzSuffix]="busScheduleAutoGeneratorDetailPreGenerateDaysClearTpl"
                class="!mt-0 !mb-0 !h-[36px] !rounded border-gray-200">
                <input type="number" nz-input formControlName="preGenerateDays" />
              </nz-input-group>
              <ng-template #busScheduleAutoGeneratorDetailPreGenerateDaysClearTpl>
                <span
                  nz-icon
                  class="ant-input-clear-icon"
                  nzTheme="fill"
                  nzType="close-circle"
                  (click)="busScheduleAutoGeneratorDetailForm.controls['preGenerateDays'].patchValue('')"></span>
              </ng-template>
              <ng-template #busScheduleAutoGeneratorDetailPreGenerateDaysErrorTpl let-control>
                <span class="mt-1 !text-xs text-red-500">
                  @if (busScheduleAutoGeneratorDetailForm.controls['preGenerateDays'].errors?.['required']) { Vui lòng
                  nhập trường này }
                </span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="flex w-7/12 gap-4">
        <div class="flex w-5/12">
          <nz-form-item class="!min-h-[96px] !w-full">
            <nz-form-label
              nzFor="name"
              [nzNoColon]="true"
              [nzRequired]="true"
              class="!flex !h-[36px] !items-center !justify-start !text-sm"
              >Start Date</nz-form-label
            >
            <nz-form-control
              [nzErrorTip]="busScheduleAutogeneratorDetailStartDateErrorTpl"
              class="!flex !w-full flex-col">
              <nz-date-picker
                nzShowTime
                nzFormat="yyyy-MM-dd HH:mm"
                formControlName="startDate"
                [nzDisabledDate]="checkDateDisableDate(0)"
                class="!flex h-[36px] !w-full !rounded border-gray-200"></nz-date-picker>
              <ng-template #busScheduleAutogeneratorDetailStartDateErrorTpl let-control>
                <span class="mt-1 !text-xs text-red-500">
                  @if (busScheduleAutoGeneratorDetailForm.get('startDate')?.errors?.['required']) { Vui lòng nhập vào
                  trường này }
                </span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="flex w-7/12">
          <nz-form-item class="!min-h-[96px] !w-full">
            <nz-form-label
              nzFor="name"
              [nzNoColon]="true"
              [nzRequired]="!this.isNonEndDate"
              class="!flex !h-[36px] !items-center !justify-start !text-sm"
              >End Date</nz-form-label
            >
            <div class="flex flex-row items-start gap-2">
              <nz-form-control
                [nzErrorTip]="busScheduleAutogeneratorDetailEndDateErrorTpl"
                class="!flex !w-full flex-col">
                <nz-date-picker
                  nzShowTime
                  nzFormat="yyyy-MM-dd HH:mm"
                  [nzDisabled]="isNonEndDate"
                  [nzDisabledDate]="checkDateDisableDate(1)"
                  class="!flex h-[36px] !w-full !rounded border-gray-200"
                  formControlName="endDate"></nz-date-picker>
                <ng-template #busScheduleAutogeneratorDetailEndDateErrorTpl let-control>
                  <span class="mt-1 !text-xs text-red-500">
                    @if (busScheduleAutoGeneratorDetailForm.get('endDate')?.errors?.['required']) { Vui lòng nhập vào
                    trường này }
                  </span>
                </ng-template>
              </nz-form-control>
              <label
                nz-checkbox
                [(ngModel)]="isNonEndDate"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="selectIsEndDate()"
                >Nerver
              </label>
            </div>
          </nz-form-item>
        </div>
      </div>
    </div>
    <div class="flex justify-between gap-4">
      <ng-container *ngIf="repeatType?.value === 'weeks'">
        <div class="flex w-5/12 flex-col">
          <nz-form-label
            nzFor="preGenerateDays"
            [nzNoColon]="true"
            [nzRequired]="true"
            class="!flex !h-[36px] !items-center !justify-start !text-sm"
            >On
          </nz-form-label>
          <nz-form-control
            [nzErrorTip]="busScheduleAutogeneratorDetailRepeatDaysPerWeekErrorTpl"
            class="!flex !w-full flex-col">
            <input type="text" class="!hidden" nz-input formControlName="repeatDaysPerWeek" />
            <div class="flex min-h-[36px] flex-row justify-between gap-1">
              <div *ngFor="let day of daysOfWeek; let i = index" class="flex w-max items-center">
                <input
                  type="checkbox"
                  id="choose-day-{{ i }}"
                  class="peer hidden"
                  [checked]="busScheduleAutoGeneratorDetailForm.get('repeatDaysPerWeek')?.value?.includes(day)"
                  (change)="chooseDayOfWeek(day)" />
                <label
                  for="choose-day-{{ i }}"
                  class="flex w-max min-w-[60px] cursor-pointer select-none justify-center rounded-md border border-gray-200 py-2 px-4 text-xs transition-colors duration-200 ease-in-out peer-checked:border-blue-700 peer-checked:bg-blue-200 peer-checked:font-medium peer-checked:text-blue-600">
                  {{ day }}
                </label>
              </div>
            </div>
            <ng-template #busScheduleAutogeneratorDetailRepeatDaysPerWeekErrorTpl let-control>
              <span class="mt-1 !text-xs text-red-500">
                @if (busScheduleAutoGeneratorDetailForm.get('repeatDaysPerWeek')?.errors?.['required']) { Vui lòng chọn
                ngày }
              </span>
            </ng-template>
          </nz-form-control>
        </div>
      </ng-container>

      <div class="flex w-5/12 flex-col">
        <div class="flex flex-col">
          <nz-form-label
            nzFor="busScheduleTemplateId"
            [nzNoColon]="true"
            [nzRequired]="true"
            class="!flex !h-[36px] !items-center !justify-start"
            >At
          </nz-form-label>
          <div formArrayName="specificTimeSlots" class="flex w-full flex-col gap-4">
            <nz-form-item
              *ngFor="let specificTimeSlot of specificTimeSlots.controls; let i = index"
              [formGroupName]="i">
              <nz-form-control
                [nzErrorTip]="busScheduleAutogeneratorDetailSpecificTimeSlotsErrorTpl"
                class="!flex !w-full flex-col">
                <div class="flex items-center">
                  <nz-time-picker
                    (ngModelChange)="specificTimeSlotChange(i)"
                    class="!flex h-[36px] !w-full !rounded border-gray-200"
                    formControlName="timeSlot"></nz-time-picker>
                  <svg-icon
                    src="assets/icons/trash-red-outline.svg"
                    (click)="removeSpecificTimeSlot(i)"
                    [svgClass]="'h-5 w-5 ml-2 cursor-pointer'"
                    *ngIf="specificTimeSlots.controls.length > 1">
                  </svg-icon>
                </div>
                <ng-template #busScheduleAutogeneratorDetailSpecificTimeSlotsErrorTpl let-control>
                  <span class="mt-1 !text-xs text-red-500">
                    @if (specificTimeSlot.get('timeSlot')?.errors?.['required']) { Vui lòng nhập vào trường này }
                  </span>
                </ng-template>
              </nz-form-control>
              <nz-form-control> </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="mt-4 flex justify-end gap-4">
          <button
            class="!min-w-24 !flex !h-max !justify-center !rounded-lg !py-2 !px-3 hover:!border-red-500 hover:!bg-red-200 hover:!text-red-500"
            nz-button
            nzType="default"
            (click)="addSpecificTimeSlot()">
            <svg-icon src="assets/icons/add-square.svg" [svgClass]="'h-5 w-5 mr-2'"> </svg-icon>
            Add Specific TimeSlot
          </button>
        </div>
      </div>
    </div>
    <div class="my-5 flex w-full justify-end">
      <button
        class="!min-w-24 !bg-primary !flex !h-max !justify-center !rounded-lg !py-2 !px-3 !text-white hover:!border-red-500 hover:!bg-red-200 hover:!text-red-500"
        nz-button
        (click)="onSubmit()"
        nzType="default"
        type="submit">
        SAVE
      </button>
    </div>
  </form>
</div>
