<!-- Card -->
<div class="bg-background flex h-[420px] flex-col rounded-lg p-8">
  <!-- Image -->
  <div
    [ngStyle]="{ 'background-image': 'url(' + nft.image + ')' }"
    class="h-[240px] cursor-pointer rounded-md bg-cover transition duration-150 ease-in-out hover:opacity-75"></div>
  <!-- Description  -->
  <h2 class="text-md text-foreground mt-6 font-semibold">{{ nft.title }}</h2>
  <div class="dflex text-muted-foreground items-end justify-between text-sm font-semibold">
    Last Bid: {{ nft.last_bid }} ETH
    <span>{{ nft.price | currency }}</span>
  </div>
  <!-- Buttons -->
  <div class="mt-6 flex items-center justify-between">
    <button
      class="hover:bg-primary-600 bg-primary text-primary-foreground flex-none rounded-md px-4 py-2.5 text-xs font-semibold">
      Place a Bid
    </button>
    <button
      class="lex-none bg-card text-muted-foreground hover:bg-muted hover:text-foreground rounded-md px-4 py-2.5 text-xs font-semibold">
      View Item
    </button>
  </div>
</div>
<!-- end Card -->
