@if(currentUser){
<form class="my-10 space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="text-center">
    <h2 class="text-foreground mb-1 text-3xl font-semibold">Phone Number Verification</h2>
    <p class="text-muted-foreground text-sm">Enter the verification code we sent to</p>
    <div class="text-muted-foreground mt-2 text-lg">{{ currentUser.phoneNumber }}</div>
  </div>

  <div class="flex w-full">
    <nz-input-otp
      formControlName="otp"
      [nzStatus]="form.get('otp')?.touched ? (form.get('otp')?.invalid ? 'error' : '') : ''"></nz-input-otp>
  </div>

  <!-- Submit Button -->
  <div>
    <app-button full impact="bold" tone="primary" shape="rounded" size="medium"> Submit </app-button>
  </div>
</form>
}
