.role-client {
  color: var(--color-indigo-800) !important;
  background-color: var(--color-indigo-100) !important;
}
.role-tenant {
  color: var(--color-green-800) !important;
  background-color: var(--color-green-100) !important;
}
.role-pos {
  color: var(--color-blue-800) !important;
  background-color: var(--color-blue-100) !important;
}
.role-driver {
  color: var(--color-yellow-800) !important;
  background-color: var(--color-yellow-100) !important;
}
