:host ::ng-deep {
  nz-select.promotion-status-active .ant-select-selector {
    background-color: var(--color-green-200) !important;
    color: var(--color-green-800) !important;
    border: 1px solid var(--color-green-500) !important;
  }
  nz-select.promotion-status-inactive .ant-select-selector {
    background-color: var(--color-gray-200) !important;
    color: var(--color-gray-800) !important;
    border: 1px solid var(--color-gray-500) !important;
  }
}
