<section class="relative bg-stone-50 py-4">
  <div class="mx-auto w-full max-w-7xl overflow-x-auto px-6 lg:px-8">
    <!-- Header: chứa thông tin ngày tháng và các nút chuyển view, chuyển tuần -->
    <div
      class="max-md:gap-3 xs:!items-start mb-5 flex flex-col items-center justify-between sm:!items-start md:flex-row">
      <div class="flex items-center gap-4">
        <div class="flex gap-1">
          <button>
            <svg-icon
              src="./assets/icons/heroicons/outline/arrow-long-left.svg"
              (click)="navigatePeriod(-1)"
              nz-button
              svgClass="h-6 w-6 text-muted-foreground cursor-pointer"></svg-icon>
          </button>
          <button>
            <svg-icon
              src="./assets/icons/heroicons/outline/arrow-long-right.svg"
              (click)="navigatePeriod(1)"
              svgClass="h-6 w-6 text-muted-foreground cursor-pointer"></svg-icon>
          </button>
        </div>
        <h6 class="text-muted-foreground text-xl font-medium leading-8">
          <span *ngIf="viewMode == 'day'">
            <nz-date-picker [nzMode]="'date'" [(ngModel)]="currentDayView" nzFormat="MMMM dd, YYYY"></nz-date-picker>
          </span>
          <span *ngIf="viewMode == 'week' || viewMode == 'list'">
            {{ utils.formatWeekRange(weekRange.start, weekRange.end) }}
          </span>
          <span *ngIf="viewMode == 'month'">
            {{ utils.formatToMonthYear(currentMonthWiew) }}
          </span>
        </h6>
      </div>
      <div class="flex gap-4">
        <div class="flex">
          <button
            class="!min-w-24 !flex !h-max !justify-center !rounded-lg !py-2 !px-3 hover:!border-red-500 hover:!bg-red-200 hover:!text-red-500"
            nz-button
            nzType="default"
            (click)="backToday()">
            Today
          </button>
        </div>
        <div class="flex items-center gap-px rounded-lg bg-gray-100 p-1">
          <button
            (click)="changeView('list')"
            [ngClass]="{ 'bg-white !text-indigo-600': viewMode == 'list' }"
            class="text-muted-foreground rounded-lg py-2.5 px-5 text-sm font-medium transition-all duration-300 hover:bg-white hover:text-indigo-600">
            List
          </button>
          <button
            (click)="changeView('day')"
            [ngClass]="{ 'bg-white !text-indigo-600': viewMode == 'day' }"
            class="text-muted-foreground rounded-lg py-2.5 px-5 text-sm font-medium transition-all duration-300 hover:bg-white hover:text-indigo-600">
            Day
          </button>
          <button
            (click)="changeView('week')"
            [ngClass]="{ 'bg-white !text-indigo-600': viewMode == 'week' }"
            class="text-muted-foreground rounded-lg py-2.5 px-5 text-sm font-medium transition-all duration-300 hover:bg-white hover:text-indigo-600">
            Week
          </button>
          <button
            (click)="changeView('month')"
            [ngClass]="{ 'bg-white !text-indigo-600': viewMode == 'month' }"
            class="text-muted-foreground rounded-lg py-2.5 px-5 text-sm font-medium transition-all duration-300 hover:bg-white hover:text-indigo-600">
            Month
          </button>
        </div>
      </div>
    </div>
    <nz-spin nzTip="Loading..." [nzSpinning]="!isLoadedEvent">
      <ng-container [ngSwitch]="viewMode">
        <ng-container *ngSwitchCase="'list'">
          <div class="flex flex-col gap-4">
            <div *ngFor="let day of weekDates" class="flex flex-col gap-2">
              <label [ngClass]="{ 'font-medium text-red-600': isToday(day) }">{{ utils.formatToDateWeek(day) }}</label>
              <div class="flex flex-col gap-2" *ngIf="getEventsForDay(day).length > 0; else noEvents">
                <!-- Nội dung hiển thị khi có event -->
                <ng-container *ngFor="let event of getEventsForDay(day)">
                  <!-- Render từng event -->
                  <ng-container *ngTemplateOutlet="eventTemplate; context: { event: event }"></ng-container>
                </ng-container>
              </div>
              <ng-template #noEvents>
                <!-- Nội dung hiển thị khi không có event -->
                <p class="text-sm italic text-gray-400">Không có sự kiện nào.</p>
              </ng-template>
              <!-- Tiêu đề ngày -->
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'day'">
          <!-- Phần calendar -->
          <div class="relative">
            <div class="sticky top-0 left-0 grid w-full grid-cols-2 border-t border-gray-200">
              <!-- Ô nhãn giờ -->
              <div class="flex items-center justify-center p-3.5 text-sm font-medium text-gray-900"></div>
              <!-- Ngày được render động -->
              <div
                class="flex items-center justify-center p-3.5 text-sm font-medium"
                [ngClass]="{ 'text-indigo-600': isToday(currentDayView), 'text-gray-900': !isToday(currentDayView) }">
                {{ utils.formatToDateWeek(currentDayView) }}
              </div>
            </div>

            <!-- Cột sự kiện chiếm 10/12 -->
            <div class="relative flex flex-col">
              <!-- Đường gạch đỏ hiển thị thời gian hiện tại -->
              <div
                *ngIf="isLoadedEvent"
                class="pointer-events-none absolute left-0 right-0 z-10 h-[1px] bg-red-500"
                [ngStyle]="{ top: getCurrentSlotPixelPosition() + 'px' }"></div>

              <ng-container *ngFor="let slot of halfHourSlots">
                <div
                  #slotItem
                  class="flex flex-row border-r border-t border-gray-200 text-sm text-gray-400"
                  [ngClass]="{ 'bg-gray-100': isSlotDisabled(slot, currentDayView) }">
                  <div class="flex w-2/12 border-r border-gray-200 p-2">
                    {{ slot }}
                  </div>
                  <div
                    class="flex w-10/12 flex-col gap-1 p-2"
                    [ngClass]="{
                      'cursor-not-allowed': isSlotDisabled(slot, currentDayView),
                      'cursor-pointer hover:bg-stone-100': !isSlotDisabled(slot, currentDayView)
                    }">
                    @if(getEventsForDayAndSlot(currentDayView, slot).length > 0){
                    <!-- Render event nếu tồn tại cho ngày và slot này -->
                    <div class="flex flex-row flex-wrap gap-2">
                      <ng-container *ngFor="let event of getEventsForDayAndSlot(currentDayView, slot)">
                        <ng-container *ngTemplateOutlet="eventTemplate; context: { event: event }"></ng-container>
                      </ng-container>
                    </div>
                    }@else{
                    <button
                      class="h-full w-full"
                      capCheck
                      [capModule]="capModule"
                      [capFunction]="capFunction"
                      (click)="createEvent($event, slot)"></button>
                    }
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'week'">
          <!-- Header: Cột đầu tiên dùng cho nhãn giờ, các cột bên cạnh là các ngày -->
          <div class="sticky top-0 left-0 grid w-full grid-cols-8 border-t border-gray-200">
            <!-- Ô trống đầu tiên cho nhãn giờ -->
            <div class="flex items-center justify-center p-3.5 text-sm font-medium text-gray-900"></div>
            <!-- Các header của ngày -->
            <ng-container *ngFor="let day of weekDates">
              <div
                class="flex flex-row items-center justify-center p-3.5 text-sm font-medium"
                [ngClass]="{ 'text-indigo-600': isToday(day), 'text-gray-900': !isToday(day) }">
                <div>{{ utils.formatToDateWeek(day) }}</div>
                <ng-container *ngIf="utils.formatToMonth(weekRange.start) != utils.formatToMonth(weekRange.end)">
                  <div>/{{ utils.formatToMonth(day) }}</div>
                </ng-container>
              </div>
            </ng-container>
          </div>

          <!-- Grid chứa nhãn giờ và ô các ngày -->
          <div class="relative grid grid-cols-8">
            <!-- Đường gạch đỏ hiển thị thời gian hiện tại -->
            <div
              *ngIf="isLoadedEvent"
              class="pointer-events-none absolute left-0 right-0 z-10 h-[1px] bg-red-500"
              [ngStyle]="{ top: currentSlotPixelPosition + 'px' }"></div>

            <!-- Cột nhãn giờ -->
            <div class="flex flex-col">
              <ng-container *ngFor="let slot of halfHourSlots">
                <div
                  #slotItem
                  class="max-h-[120px] border-r border-t border-gray-200 p-1 text-sm text-gray-400"
                  [ngStyle]="{ height: 54 * (eventInSlot(slot).length || 1) + 'px' }">
                  {{ slot }}
                </div>
              </ng-container>
            </div>
            <!-- Các cột của từng ngày -->
            <ng-container *ngFor="let day of weekDates; trackBy: trackByDateWeek">
              <div class="flex flex-col">
                <ng-container *ngFor="let slot of halfHourSlots">
                  <div
                    class="flex max-h-[120px] flex-col items-end gap-1 border-t border-r border-gray-200 p-0.5 relative"
                    [ngClass]="{
                      'cursor-not-allowed bg-gray-100': isSlotDisabled(slot, day),
                      'cursor-pointer hover:bg-stone-100': !isSlotDisabled(slot, day)
                    }"
                    [ngStyle]="{ height: 54 * (eventInSlot(slot).length || 1) + 'px' }">
                    <!-- Render event nếu tồn tại cho ngày và slot này -->

                    <ng-container
                      *ngFor="let event of getEventsForDayAndSlot(day, slot) | slice: 0:2; trackBy: trackByEvent">
                      <ng-container *ngTemplateOutlet="eventTemplate; context: { event: event }"></ng-container>
                    </ng-container>
                    <button
                      class="absolute inset-0"
                      capCheck
                      [capModule]="capModule"
                      [capFunction]="capFunction"
                      (click)="createEvent($event, slot, day)"></button>

                    <!-- Popover Trigger -->
                    <div
                      *ngIf="getEventsForDayAndSlot(day, slot).length > 2"
                      (nzPopoverVisibleChange)="visibleChange($event, getEventsForDayAndSlot(day, slot))"
                      nz-popover
                      [nzPopoverContent]="popoverTemplate"
                      class="flex cursor-pointer justify-end relative z-20 pointer-events-auto">
                      <span class="rounded bg-indigo-200 py-1 px-3 text-xs text-indigo-800">...</span>
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="'month'">
          <div class="month-view grid grid-cols-7 divide-gray-200 border-t border-gray-200">
            <!-- Header hiển thị các ngày trong tuần -->
            <div *ngFor="let day of weekDays" class="p-3.5 text-center font-semibold text-gray-600">
              {{ day }}
            </div>

            <!-- Các ngày trong tháng -->
            <div
              *ngFor="let date of monthDates; trackBy: trackByDate"
              class="flex h-[160px] cursor-pointer flex-col items-end gap-1 border border-gray-200 py-3.5 px-2 text-center hover:bg-gray-100"
              [ngClass]="{ 'border-gray-300 bg-gray-200': !date.isCurrentMonth }">
              <!-- Display Day -->
              <span
                [ngClass]="{
                  'text-gray-400': !date.isCurrentMonth,
                  'text-gray-900': date.isCurrentMonth,
                  'font-medium text-red-600 ': isToday(date.date)
                }">
                {{ date.date.getDate() }}
              </span>

              @if(date.events.length > 0){
              <!-- Display Events -->
              <ng-container *ngFor="let event of date.events | slice: 0:2; trackBy: trackByEvent">
                <ng-container *ngTemplateOutlet="eventTemplate; context: { event: event }"></ng-container>
              </ng-container>
              }@else{
              <button
                class="h-full w-full"
                capCheck
                [capModule]="capModule"
                [capFunction]="capFunction"
                (click)="createEvent($event, '', date.date)"></button>
              }

              <!-- Popover Trigger -->
              <div
                *ngIf="date.events.length > 2"
                (nzPopoverVisibleChange)="visibleChange($event, date.events)"
                nz-popover
                [nzPopoverContent]="popoverTemplate"
                class="flex cursor-pointer justify-end">
                <span class="rounded bg-indigo-200 py-1 px-3 text-xs text-indigo-800">...</span>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </nz-spin>
    <ng-template #popoverTemplate>
      <div class="flex flex-col gap-2">
        <ng-container *ngFor="let event of activePopover">
          <ng-container *ngTemplateOutlet="eventTemplate; context: { event: event }"></ng-container>
        </ng-container>
      </div>
    </ng-template>
    <ng-template #eventTemplate let-event="event">
      <div
        class="relative z-10 w-[160px] max-h-[120px] max-w-full cursor-pointer rounded border-l-2 {{
          statusClasses[event.status]
        }} p-1 text-xs"
        (click)="viewDetailEvent($event, event)">
        <div class="flex h-full flex-nowrap justify-between">
          <div class="flex w-full flex-col items-start">
            <div class="line-clamp-1">{{ event.name }}</div>
            <div class="text-gray-900">
              {{ utils.formatTime(event.startDate) }}
              <ng-container *ngIf="event.endDate"> - {{ utils.formatTime(event.endDate) }} </ng-container>
            </div>
          </div>
          @if(isCloneEvent){
          <div class="flex flex-col">
            <button
              (click)="cloneDataEvent($event, event)"
              class="text-muted-foreground hover:bg-card hover:text-foreground inline-flex h-5 w-5 items-center justify-center rounded-md"
              aria-label="Delete busRoute">
              <svg-icon
                [src]="'./assets/icons/heroicons/outline/document-duplicate.svg'"
                [svgClass]="'h-5 w-5'"
                aria-hidden="true">
              </svg-icon>
            </button>
          </div>
          }
        </div>
      </div>
    </ng-template>
  </div>
</section>
