<form class="my-10 space-y-6" [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="text-center">
    <h2 class="text-foreground mb-1 text-3xl font-semibold">Forgot Password <span class="text-primary">?</span></h2>
    <p class="text-muted-foreground text-sm">Enter your email to reset your password.</p>
  </div>

  <div class="space-y-3 text-left">
    <div class="relative">
      <nz-form-item class="!flex !w-full !flex-col">
        <nz-form-label nzFor="phoneNumber" class="!flex !items-center !justify-start !text-sm"
          >Phone Number</nz-form-label
        >
        <nz-form-control [nzErrorTip]="userFormPhoneNumberErrorTpl" class="!flex flex-col">
          <nz-input-group [nzSuffix]="userFormPhoneNumberClearTpl" class="!mt-0 !mb-0 !rounded border-gray-200">
            <input
              type="text"
              nz-input
              formControlName="phoneNumber"
              mask="0000 000 000"
              placeholder="Nhập Phone Number" />
          </nz-input-group>
          <ng-template #userFormPhoneNumberClearTpl>
            @if(f['phoneNumber'].value){
            <span
              nz-icon
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              (click)="f['phoneNumber'].patchValue('')"></span>
            }
          </ng-template>
          <ng-template #userFormPhoneNumberErrorTpl let-control>
            <span class="mt-1 !text-xs text-red-500">
              @if (f['phoneNumber'].errors?.['required']) { Vui lòng nhập số điện thoại }
              @if(f['phoneNumber'].errors?.['pattern']) { Vui lòng nhập đúng số điện thoại }
            </span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="flex justify-between space-x-2">
    <div class="w-full">
      <app-button full impact="bold" tone="primary" shape="rounded" size="medium">Submit</app-button>
    </div>
    <div class="w-full">
      <app-button routerLink="/auth/sign-in" full impact="bold" tone="light" shape="rounded" size="medium">
        Cancel
      </app-button>
    </div>
  </div>
</form>
