<mat-dialog-title class="text-center">
  <span class="text-xl font-bold">{{ this.data.title }}</span>
  <button class="absolute right-3" [matDialogClose]="">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
      <path
        fill-rule="evenodd"
        d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z"
        clip-rule="evenodd" />
    </svg>
  </button>
</mat-dialog-title>
<mat-dialog-content class="pb-5 pt-3">
  <form class="sm:min-w-36 md:min-w-96 mx-auto" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-5">
      <nz-form-item class="!flex !w-full !flex-col">
        <nz-form-label nzFor="name" class="!flex !items-center !justify-start !text-sm">Loại Xe</nz-form-label>
        <nz-form-control [nzErrorTip]="busTypeNameErrorTpl" class="!flex flex-col">
          <nz-input-group [nzSuffix]="busTypeNameClearTpl" class="!mt-0 !mb-0 !rounded border-gray-200">
            <input type="text" nz-input formControlName="name" placeholder="Nhập Tên Loại Xe" />
          </nz-input-group>
          <ng-template #busTypeNameClearTpl>
            @if(f['name'].value){
            <span
              nz-icon 
              class="ant-input-clear-icon"
              nzTheme="fill"
              nzType="close-circle"
              (click)="f['name'].patchValue('')"></span>
            }
          </ng-template>
          <ng-template #busTypeNameErrorTpl let-control>
            <span class="mt-1 !text-xs text-red-500">
              @if(f['name'].errors?.['required']) { Vui lòng nhập tên loại xe }
            </span>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="line-block space-x-4 text-center">
  <button
    (click)="onSubmit()"
    class="bg-primary text-primary-foreground flex-none rounded-md px-4 py-2.5 text-xs font-semibold">
    SAVE
  </button>
</mat-dialog-actions>
